.footer
    position relative
    &:before
        content ''
        position absolute
        width 100%
        height 3px
        background linear-gradient(to right, #ca339a 0%, #ca339a 20%, #ee46a0 20%, #ee46a0  40%,#0491eb  40%, #0491eb  60%, #a8e24b 60%, #a8e24b 80%, #fbd537 80%, #fbd537 100%)


    &__wrap
        @extend $container

    &__row
        @extend $row
        &--top
            justify-content space-between

        &--bottom
            justify-content space-between
            align-items center

    &__col
        padding  ($gutter / 2)

    &__logo
        png 'logo-footer',true

    &__top
        background #343438
        padding 3.5rem 0

    &__bottom
        background #2c2c30

    &__phones
        font-size 0
    &__phones, &__mail, &__mode
        margin-bottom 1rem

    &__phone, &__mail, &__mode
        line-height 2rem
        font-size 1.5rem
        span
            font-size 1em
        +mediamin('lg')
            line-height 2.2rem
            font-size 1.7rem

    &__phone
        display inline-block
        font-weight 600
        position relative
        color #e7e7e7
        padding-left 3.5rem
        margin-right 2rem
        &:before
            content ''
            position absolute
            top 50%
            left 0
            margin-top -1rem
            icon 'phone-grey'
            opacity .3
        span
            color #b5b5b5

    &__mail
        display inline-block
        position relative
        margin-left 3.5rem
        color #e7e7e7
        border-bottom 1px dotted rgba($blue, .3)
        &:hover
            color #e7e7e7
            border-bottom 1px solid rgba($blue, .3)
        &:before
            content ''
            position absolute
            top 50%
            left -3.5rem
            margin-top -1rem
            icon 'mail-grey'
            opacity .3

    &__mode
        position relative
        padding-left 3.5rem
        color #e7e7e7
        &:before
            content ''
            position absolute
            top 50%
            left 0
            margin-top -1rem
            icon 'mode-grey'
            opacity .3

    &__address
        position relative
        padding-left 3.5rem
        line-height 2rem
        font-size 1.5rem
        color #e7e7e7
        &:before
            content ''
            position absolute
            top 0
            left 0
            icon 'address-grey'
            opacity .3
        +mediamin('lg')
            line-height 2.2rem
            font-size 1.7rem

        p
            margin-bottom 1rem

    &__copyright
        color #7e7e7e
        font-size 1.6rem
