.header
    position relative
    &:before
        content ''
        position absolute
        width 100%
        height 3px
        background linear-gradient(to right, #ca339a 0%, #ca339a 20%, #ee46a0 20%, #ee46a0  40%,#0491eb  40%, #0491eb  60%, #a8e24b 60%, #a8e24b 80%, #fbd537 80%, #fbd537 100%)

    &__wrap
        @extend $container

    &__top-row
        @extend $row
        align-items center
        justify-content space-between
        min-height 12.5rem



    &__col
        padding  ($gutter / 2)
        &--logo
            +mediamin('lg')
                margin-right 5rem
            +mediamax('sm')
                width 100%
                flex 0 0 100%

        &--burger
            +mediamin('md')
                display none

        &--menu, &--order, &--burger
            //padding-top 0
            //padding-bottom 0

        &--menu
            padding-top 0
            padding-bottom 0
            +mediamin('md')
                order 0
            +mediamax('sm')
                width 100%
                flex 0 0 100%

        &--order
            +mediamin('md')
                order 1


    &__phone, &__mail, &__mode
        line-height 2rem
        font-size 1.5rem
        +mediamin('lg')
            line-height 2.2rem
            font-size 1.8rem

    &__phone
        font-weight 600
        position relative
        padding-left 3rem
        &:before
            content ''
            position absolute
            top 50%
            left 0
            margin-top -1rem
            icon 'phone'
            opacity .3
        span
            font-size 1.6rem
            font-weight 400

    &__mail
        display block
        position relative
        margin-left 3.5rem
        color $color
        border-bottom 1px dotted rgba($color, .3)
        &:hover
            color $color
            border-bottom 1px solid rgba($color, .3)
        &:before
            content ''
            position absolute
            top 50%
            left -3.5rem
            margin-top -1rem
            icon 'mail'
            opacity .3

    &__mode
        position relative
        padding-left 3rem
        &:before
            content ''
            position absolute
            top 50%
            left 0
            margin-top -1rem
            icon 'mode'
            opacity .3

    &__bottom
        height 7rem

    &__flow
        position relative
        background $pink
        z-index: $z-index.header__flow


    &--flow &__flow
        position fixed
        top 0
        left 0
        width 100%
        +mediamax('sm')
            max-height 100%
            overflow-y auto


    &__bottom-row
        @extend $row
        //height 6.8rem
        align-items center
        justify-content space-between

    &__order
        font-size 1.4rem
        line-height 2rem
        padding 1.3rem 2rem
        color #fff
        text-transform uppercase
        border solid 2px #fff
        border-radius .5rem
        display inline-block
        transition color .2s, background .2s
        &:hover
            background #fff
            color $pink
