html
    height  100%
    width  100%
    font-size  10px

body
    width auto
    height  100%
    min-height 100%
    color $color
    font-size $fontSize
    font-weight $fontWeight
    font-family $fontFamily
    line-height $lineHeight
    margin 0 auto
    background-color $colorBg
