image-address-grey()
    background-repeat no-repeat
    width (24/10)rem
    height (28/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%2024%2028%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M2.4.9h19.1v26.3H2.4z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%23686868%22%20stroke-width%3D%221.8%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M3.3%2010.4c0%204.8%208.7%2015.3%208.7%2015.3s8.7-10.5%208.7-15.3-3.9-8.6-8.7-8.6c-4.8%200-8.7%203.8-8.7%208.6z%22%2F%3E%3Ccircle%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%23686868%22%20stroke-width%3D%221.8%22%20stroke-miterlimit%3D%2210%22%20cx%3D%2212%22%20cy%3D%2210.5%22%20r%3D%223.6%22%2F%3E%3C%2Fsvg%3E')
    background-size (24/10)rem (28/10)rem
$icon-address-grey
    image-address-grey()
image-address()
    background-repeat no-repeat
    width (24/10)rem
    height (28/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%2024%2028%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M2.4.9h19.1v26.3H2.4z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%23343760%22%20stroke-width%3D%221.8%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M3.3%2010.4c0%204.8%208.7%2015.3%208.7%2015.3s8.7-10.5%208.7-15.3-3.9-8.6-8.7-8.6c-4.8%200-8.7%203.8-8.7%208.6z%22%2F%3E%3Ccircle%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%23343760%22%20stroke-width%3D%221.8%22%20stroke-miterlimit%3D%2210%22%20cx%3D%2212%22%20cy%3D%2210.5%22%20r%3D%223.6%22%2F%3E%3C%2Fsvg%3E')
    background-size (24/10)rem (28/10)rem
$icon-address
    image-address()
image-advantage-1()
    background-repeat no-repeat
    width (42/10)rem
    height (42/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1.2.5h39.6v41H1.2z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22%23343760%22%20d%3D%22M12.4%2041.5c-.3%200-.6-.2-.8-.5-.2-.3-.3-.6-.2-.9l4.2-14.4h-.2c-.8.2-1.7.2-2.4.2-1.6%200-2.9-.3-4-1h-.1L4.8%2029c-.2.2-.4.3-.7.3H2.3c-.4%200-.7-.2-.9-.5-.2-.3-.2-.7-.1-1L3.8%2021l-2.5-6.9c-.1-.4-.1-.7.1-1%20.2-.3.5-.5.9-.5H4c.3%200%20.6.1.7.4l4.1%204.1h.1c1-.7%202.4-1%204-1%20.8%200%201.6.1%202.5.2h.2L11.3%201.9c-.1-.3%200-.6.2-.9.2-.3.6-.5.9-.5h3.2c.3%200%20.6.2.8.4l1.2%201.6h4.8c1.6%200%203%201.3%203%203%200%201.6-1.2%202.9-2.8%203h-.2l.6.8h4.8c1.6%200%203%201.3%203%203%200%201.6-1.3%202.9-2.9%203h-.2l.6.8h2.2c2.8%200%205.5.5%207.3%201.4%202%20.9%203%202.2%203%203.6s-1.1%202.7-3%203.6c-1.9.9-4.5%201.4-7.3%201.4h-2.2l-.6.8h.2c1.6%200%203%201.3%203%203s-1.3%203-3%203H23l-.6.8h.2c1.6.1%202.8%201.4%202.8%203%200%201.7-1.3%203-2.9%203h-4.8l-1.2%201.6c-.2.3-.5.4-.8.4h-3.3zm5.1-17.7c.3.3.4.6.3%201l-4.3%2014.8h1.7l12.1-15.5h3.2c5.5%200%208.5-1.8%208.5-3.1s-3-3.1-8.5-3.1h-3.2L15.1%202.4h-1.7l4.4%2014.8c.1.4%200%20.7-.3%201-.2.2-.4.3-.6.3-.1%200-.3%200-.4-.1-.6-.2-2.1-.6-3.5-.6-1.5%200-2.7.4-3.4%201.1-.2.2-.4.3-.7.3-.3%200-.5-.1-.7-.3l-4.4-4.4h-.4l2.2%206.1c.1.3.1.5%200%20.7l-2.2%206.1h.3l4.7-4.7h.8l.3.3c.8.7%201.9%201%203.4%201%201.8%200%203.5-.5%203.6-.6h.3c.2.1.4.2.7.4zm1.7%2013.8h3.2c.6%200%201.1-.5%201.1-1.1%200-.6-.5-1.1-1.1-1.1h-1.6l-1.6%202.2zm5.3-6.7h3.4c.6%200%201.1-.5%201.1-1.1%200-.6-.5-1.1-1.1-1.1h-1.6l-1.8%202.2zm1.6-17.6h1.6c.6%200%201.1-.5%201.1-1.1s-.5-1.1-1.1-1.1h-3.4l1.8%202.2zm-5.3-6.7h1.6c.6%200%201.1-.5%201.1-1.1%200-.6-.5-1.1-1.1-1.1h-3.2l1.6%202.2z%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22%23343760%22%20d%3D%22M35.6%2022c-.6%200-1-.4-1-1s.4-1%201-1%201%20.4%201%201c0%20.5-.4%201-1%201%22%2F%3E%3C%2Fsvg%3E')
    background-size (42/10)rem (42/10)rem
$icon-advantage-1
    image-advantage-1()
image-advantage-2()
    background-repeat no-repeat
    width (42/10)rem
    height (42/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M3.1%201h35.8v40H3.1z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22%23343760%22%20d%3D%22M24%2019.4c-.3%200-.5.1-.7.3l-1.6%201.6c-.2-.1-.5-.1-.7-.1s-.5%200-.7.1L17%2017.9c-.2-.2-.4-.3-.7-.3-.3%200-.5.1-.7.3-.2.2-.3.4-.3.7%200%20.3.1.5.3.7l3.3%203.3c-.1.2-.1.5-.1.7%200%201.2%201%202.2%202.2%202.2%201.2%200%202.2-1%202.2-2.2%200-.2%200-.5-.1-.7l1.6-1.6c.4-.4.4-1%200-1.4-.2-.1-.4-.2-.7-.2m-3.4%204c0-.2.2-.4.4-.4s.4.2.4.4-.2.4-.4.4-.4-.2-.4-.4%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22%23343760%22%20d%3D%22M31.6%2010l.9-1.2%203.9%202.7c.2.1.4.2.6.2h.2c.3%200%20.5-.2.6-.4%202.1-2.9%201.3-7-1.6-9.1C35%201.4%2033.7%201%2032.4%201c-2.1%200-4.1%201-5.3%202.8-.3.5-.2%201.1.2%201.4l3.5%202.4-.9%201.2c-2.7-1.7-5.8-2.5-8.9-2.5-3.2%200-6.2.9-8.9%202.5l-.9-1.2%203.5-2.4c.5-.3.6-.9.2-1.4C13.7%202%2011.7%201%209.6%201%208.3%201%207%201.4%205.9%202.2%203%204.3%202.2%208.3%204.3%2011.3c.2.2.4.4.6.4h.2c.2%200%20.4-.1.6-.2l3.9-2.7.9%201.2C6.4%2013.3%204%2018.1%204%2023.4c0%205.7%202.8%2011%207.6%2014.2l-1.3%201.9c-.3.1-.3.4-.3.7%200%20.3.2.5.4.6.2.1.4.2.6.2.3%200%20.6-.2.8-.4l1.4-2c2.4%201.2%205.1%201.9%207.8%201.9s5.4-.6%207.8-1.9l1.4%202c.2.3.5.4.8.4.2%200%20.4-.1.6-.2.5-.3.6-.9.2-1.4l-1.3-1.9c4.7-3.2%207.6-8.5%207.6-14.2%200-5.2-2.4-10-6.5-13.3m-19-5.8l-7.2%205C4.6%207.3%205.3%205%207%203.8c.8-.5%201.7-.8%202.6-.8%201.1%200%202.2.4%203%201.2m16.8%200c.8-.7%201.9-1.2%203-1.2.9%200%201.8.3%202.6.8%201.7%201.2%202.4%203.4%201.6%205.4l-7.2-5zM36%2023.4c0%208.3-6.8%2015-15%2015-8.3%200-15-6.8-15-15s6.8-15%2015-15c8.3-.1%2015%206.7%2015%2015%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22%23343760%22%20d%3D%22M21%2010.8c-6.9%200-12.6%205.6-12.6%2012.6C8.4%2030.3%2014%2036%2021%2036s12.6-5.6%2012.6-12.6S27.9%2010.8%2021%2010.8m7.8%2018.9c-.2-.2-.4-.3-.7-.3-.3%200-.5.1-.7.3-.2.2-.3.4-.3.7%200%20.3.1.5.3.7l.5.5c-1.7%201.4-3.7%202.2-5.8%202.4v-.7c0-.6-.5-1-1-1-.6%200-1%20.5-1%201v.7c-2.2-.2-4.2-1-5.8-2.4l.5-.5c.2-.2.3-.4.3-.7%200-.3-.1-.5-.3-.7-.2-.2-.4-.3-.7-.3s-.5.1-.7.3l-.5.5c-1.4-1.7-2.2-3.7-2.4-5.8h.5c.6%200%201-.5%201-1%200-.6-.5-1-1-1h-.7c.2-2.2%201-4.2%202.4-5.8l.5.5c.2.2.4.3.7.3.3%200%20.5-.1.7-.3.4-.4.4-1%200-1.4l-.5-.5c1.7-1.4%203.7-2.2%205.8-2.4v.7c0%20.6.5%201%201%201%20.6%200%201-.5%201-1v-.7c2.2.2%204.2%201%205.8%202.4l-.5.5c-.4.4-.4%201%200%201.4.2.2.4.3.7.3.3%200%20.5-.1.7-.3l.5-.5c1.4%201.7%202.2%203.7%202.4%205.8H31c-.6%200-1%20.5-1%201%200%20.6.5%201%201%201h.7c-.2%202.2-1%204.2-2.4%205.8l-.5-.5z%22%2F%3E%3C%2Fsvg%3E')
    background-size (42/10)rem (42/10)rem
$icon-advantage-2
    image-advantage-2()
image-advantage-3()
    background-repeat no-repeat
    width (42/10)rem
    height (42/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%2042%2042%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1%201h40v40H1z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22%23343760%22%20d%3D%22M39.5%2032.3l-7.8-7.8c-.9-.9-2.5-.9-3.4%200l-2%202c-.6.6-.8%201.6-.6%202.4l-.8.8c-.5.5-3.9-.3-8.1-4.4-4.1-4.1-5-7.5-4.4-8.1l.8-.8c.2.1.4.1.7.1.6%200%201.2-.2%201.7-.7l2-2c.9-.9.9-2.5%200-3.4L9.7%202.5c-.4-.4-1.1-.7-1.7-.7-.6%200-1.2.2-1.7.7l-2%202c-.7.7-.9%201.6-.6%202.4l-.7.7C.8%2010%20.4%2013.8%201.8%2018.4c1.4%204.4%204.4%209.1%208.5%2013.2s8.8%207.1%2013.3%208.5c1.8.6%203.5.8%205%20.8%202.5%200%204.6-.8%206-2.2l.4-.4c.2.1.4.1.7.1.6%200%201.2-.2%201.7-.7l2-2c1-.9%201-2.5.1-3.4M8%204.2l7.8%207.8-2%202-3.9-3.9L6%206.3l2-2.1zm25%2032.9c-1.7%201.7-4.8%202-8.6.8-4.1-1.3-8.4-4.1-12.3-8-3.8-3.8-6.7-8.2-8-12.3-1.2-3.8-.9-6.8.8-8.6l.2-.2%206.1%206.1-.6.6C8.3%2017.8%2011.1%2023%2015%2027c2.9%202.9%206.6%205.2%209.2%205.2.9%200%201.6-.3%202.2-.8l.6-.6%206.1%206.1-.1.2zm2.7-1.1l-7.8-7.8%202-2%207.8%207.8c.1%200-2%202-2%202m-4.3-25.4c-2.3-2.3-5.3-3.5-8.5-3.5-.7%200-1.2.5-1.2%201.2s.5%201.2%201.2%201.2c2.6%200%205%201%206.8%202.8%201.8%201.8%202.8%204.3%202.8%206.8%200%20.7.5%201.2%201.2%201.2s1.2-.5%201.2-1.2c0-3.2-1.2-6.2-3.5-8.5%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22%23343760%22%20d%3D%22M35.7%206.3C32.2%202.9%2027.7%201%2022.8%201c-.7%200-1.2.5-1.2%201.2s.5%201.2%201.2%201.2C27%203.4%2031%205%2034%208c3%203%204.6%206.9%204.6%2011.1%200%20.7.5%201.2%201.2%201.2s1.2-.5%201.2-1.2c0-4.8-1.9-9.3-5.3-12.8m-8.6%208.6c-1.1-1.1-2.6-1.8-4.2-1.8-.7%200-1.2.5-1.2%201.2s.5%201.2%201.2%201.2c1%200%201.8.4%202.5%201.1.7.7%201.1%201.6%201.1%202.5%200%20.7.5%201.2%201.2%201.2s1.2-.5%201.2-1.2c-.1-1.6-.7-3-1.8-4.2%22%2F%3E%3C%2Fsvg%3E')
    background-size (42/10)rem (42/10)rem
$icon-advantage-3
    image-advantage-3()
image-advantage-4()
    background-repeat no-repeat
    width (40/10)rem
    height (40/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M0%200h40v40H0z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22%23343760%22%20d%3D%22M35.8%204.2c-5.7-5.7-14.9-5.7-20.5%200C12.5%207%2011%2010.6%2011%2014.5c0%203.5%201.3%206.9%203.5%209.5l-1.7%201.7L11%2024c-.2-.2-.5-.3-.7-.3-.3%200-.5.1-.7.3l-8.3%208.3c-.9.9-1.3%202-1.3%203.2%200%201.2.5%202.4%201.3%203.2.9.9%202%201.3%203.2%201.3s2.4-.5%203.2-1.3l8.3-8.3c.2-.2.3-.5.3-.7%200-.3-.1-.5-.3-.7l-1.8-1.8%201.7-1.7c2.7%202.4%206.1%203.5%209.5%203.5%203.7%200%207.4-1.4%2010.3-4.2C38.5%2022%2040%2018.4%2040%2014.5S38.5%207%2035.8%204.2m-29.5%2033c-.5.5-1.1.7-1.8.7s-1.3-.3-1.8-.7c-.5-.5-.7-1.1-.7-1.8s.3-1.3.7-1.8L7.3%2029l3.5%203.5-4.5%204.7zm6.1-6l-3.5-3.5%201.5-1.5%203.5%203.5-1.5%201.5zm21.9-7.9c-4.9%204.9-12.8%204.9-17.6%200-2.4-2.3-3.7-5.5-3.7-8.8s1.3-6.5%203.6-8.8c2.4-2.4%205.6-3.6%208.8-3.6s6.4%201.2%208.8%203.6c2.4%202.4%203.6%205.5%203.6%208.8.1%203.3-1.1%206.5-3.5%208.8%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22%23343760%22%20d%3D%22M32.6%207.4c-3.9-3.9-10.3-3.9-14.2%200-3.9%203.9-3.9%2010.3%200%2014.2%202%202%204.5%202.9%207.1%202.9%202.6%200%205.1-1%207.1-2.9%203.9-3.9%203.9-10.3%200-14.2m-1.5%2012.8c-3.1%203.1-8.2%203.1-11.3%200-3.1-3.1-3.1-8.2%200-11.3%201.6-1.6%203.6-2.3%205.7-2.3%202%200%204.1.8%205.7%202.3%203.1%203.1%203.1%208.1-.1%2011.3%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22%23343760%22%20d%3D%22M29.3%2010.7c-2.1-2.1-5.6-2.1-7.7%200-.4.4-.4%201.1%200%201.5s1.1.4%201.5%200c1.3-1.3%203.4-1.3%204.8%200%20.2.2.5.3.7.3.3%200%20.5-.1.7-.3.4-.5.4-1.1%200-1.5%22%2F%3E%3C%2Fsvg%3E')
    background-size (40/10)rem (40/10)rem
$icon-advantage-4
    image-advantage-4()
image-arrow-right-blue()
    background-repeat no-repeat
    width (10/10)rem
    height (12/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2010%2012%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%230491EB%22%20d%3D%22M9%206L6.5%203.6%203.5.5%201%202.9%204.1%206%201%209.1l2.5%202.4%203-3.1z%22%2F%3E%3C%2Fsvg%3E')
    background-size (10/10)rem (12/10)rem
$icon-arrow-right-blue
    image-arrow-right-blue()
image-arrow-right-pink()
    background-repeat no-repeat
    width (10/10)rem
    height (12/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2010%2012%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23EE46A0%22%20d%3D%22M9%206L6.5%203.6%203.5.5%201%202.9%204.1%206%201%209.1l2.5%202.4%203-3.1z%22%2F%3E%3C%2Fsvg%3E')
    background-size (10/10)rem (12/10)rem
$icon-arrow-right-pink
    image-arrow-right-pink()
image-arrow-right-white()
    background-repeat no-repeat
    width (10/10)rem
    height (12/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2010%2012%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23FFF%22%20d%3D%22M9%206L6.5%203.6%203.5.5%201%202.9%204.1%206%201%209.1l2.5%202.4%203-3.1z%22%2F%3E%3C%2Fsvg%3E')
    background-size (10/10)rem (12/10)rem
$icon-arrow-right-white
    image-arrow-right-white()
image-checkbox()
    background-repeat no-repeat
    width (20/10)rem
    height (20/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23ee46a0%22%20d%3D%22M15%207.7l-1.4-1.2-4.5%204.6-2.7-2.7L5%209.6l3.8%203.8.2-.2.3.3z%22%2F%3E%3C%2Fsvg%3E')
    background-size (20/10)rem (20/10)rem
$icon-checkbox
    image-checkbox()
image-chosen-select()
    background-repeat no-repeat
    width (12/10)rem
    height (8/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2012%208%22%3E%3Cpath%20fill%3D%22%23B5B5B5%22%20d%3D%22M6.5%207l4.8-5c.3-.3.3-.8%200-1.1-.3-.3-.8-.3-1.1%200L6%205.4%201.7%201C1.4.7%201%20.7.7%201c-.3.3-.3.8%200%201.1l4.8%205c.3.2.7.2%201-.1z%22%2F%3E%3C%2Fsvg%3E')
    background-size (12/10)rem (8/10)rem
$icon-chosen-select
    image-chosen-select()
image-close-blue()
    background-repeat no-repeat
    width (26/10)rem
    height (26/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2026%2026%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%2335385e%22%20d%3D%22M25.7%203.8L22.2.3%2013%209.5%203.8.3.3%203.8%209.5%2013%20.3%2022.2l3.5%203.5%209.2-9.2%209.2%209.2%203.5-3.5-9.2-9.2z%22%2F%3E%3C%2Fsvg%3E')
    background-size (26/10)rem (26/10)rem
$icon-close-blue
    image-close-blue()
image-list-pink()
    background-repeat no-repeat
    width (24/10)rem
    height (24/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M19.5%2022h-15c-1.7%200-3-1.3-3-3V5c0-1.7%201.3-3%203-3h15c1.7%200%203%201.3%203%203v14c0%201.7-1.3%203-3%203z%22%2F%3E%3Cpath%20fill%3D%22%23ee46a0%22%20d%3D%22M17.5%209h-8c-.6%200-1-.4-1-1s.4-1%201-1h8c.6%200%201%20.4%201%201s-.4%201-1%201zm-3.1%204H9.5c-.6%200-1-.4-1-1s.4-1%201-1h4.9c.6%200%201%20.4%201%201s-.5%201-1%201zm3.1%204h-8c-.6%200-1-.4-1-1s.4-1%201-1h8c.6%200%201%20.4%201%201s-.4%201-1%201z%22%2F%3E%3Ccircle%20fill%3D%22%23ee46a0%22%20cx%3D%226.5%22%20cy%3D%228%22%20r%3D%221%22%2F%3E%3Ccircle%20fill%3D%22%23ee46a0%22%20cx%3D%226.5%22%20cy%3D%2212%22%20r%3D%221%22%2F%3E%3Ccircle%20fill%3D%22%23ee46a0%22%20cx%3D%226.5%22%20cy%3D%2216%22%20r%3D%221%22%2F%3E%3C%2Fsvg%3E')
    background-size (24/10)rem (24/10)rem
$icon-list-pink
    image-list-pink()
image-list()
    background-repeat no-repeat
    width (24/10)rem
    height (24/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23FFF%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M19.5%2022h-15c-1.7%200-3-1.3-3-3V5c0-1.7%201.3-3%203-3h15c1.7%200%203%201.3%203%203v14c0%201.7-1.3%203-3%203z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M17.5%209h-8c-.6%200-1-.4-1-1s.4-1%201-1h8c.6%200%201%20.4%201%201s-.4%201-1%201zm-3.1%204H9.5c-.6%200-1-.4-1-1s.4-1%201-1h4.9c.6%200%201%20.4%201%201s-.5%201-1%201zm3.1%204h-8c-.6%200-1-.4-1-1s.4-1%201-1h8c.6%200%201%20.4%201%201s-.4%201-1%201z%22%2F%3E%3Ccircle%20fill%3D%22%23FFF%22%20cx%3D%226.5%22%20cy%3D%228%22%20r%3D%221%22%2F%3E%3Ccircle%20fill%3D%22%23FFF%22%20cx%3D%226.5%22%20cy%3D%2212%22%20r%3D%221%22%2F%3E%3Ccircle%20fill%3D%22%23FFF%22%20cx%3D%226.5%22%20cy%3D%2216%22%20r%3D%221%22%2F%3E%3C%2Fsvg%3E')
    background-size (24/10)rem (24/10)rem
$icon-list
    image-list()
image-mail-grey()
    background-repeat no-repeat
    width (24/10)rem
    height (24/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23686868%22%20stroke-width%3D%221.3%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M20%2020.5H4c-1.7%200-3-1.3-3-3v-11c0-1.7%201.3-3%203-3h16c1.7%200%203%201.3%203%203v11c0%201.7-1.3%203-3%203z%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23686868%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M5.5%207.5L12%2014l6.5-6.5m-9%204.9l-4%204.1m9-4.1l4%204.1%22%2F%3E%3C%2Fsvg%3E')
    background-size (24/10)rem (24/10)rem
$icon-mail-grey
    image-mail-grey()
image-mail-pink()
    background-repeat no-repeat
    width (24/10)rem
    height (24/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%221.3%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M20%2020.5H4c-1.7%200-3-1.3-3-3v-11c0-1.7%201.3-3%203-3h16c1.7%200%203%201.3%203%203v11c0%201.7-1.3%203-3%203z%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M5.5%207.5L12%2014l6.5-6.5m-9%204.9l-4%204.1m9-4.1l4%204.1%22%2F%3E%3C%2Fsvg%3E')
    background-size (24/10)rem (24/10)rem
$icon-mail-pink
    image-mail-pink()
image-mail()
    background-repeat no-repeat
    width (24/10)rem
    height (24/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23343760%22%20stroke-width%3D%221.3%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M20%2020.5H4c-1.7%200-3-1.3-3-3v-11c0-1.7%201.3-3%203-3h16c1.7%200%203%201.3%203%203v11c0%201.7-1.3%203-3%203z%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23343760%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M5.5%207.5L12%2014l6.5-6.5m-9%204.9l-4%204.1m9-4.1l4%204.1%22%2F%3E%3C%2Fsvg%3E')
    background-size (24/10)rem (24/10)rem
$icon-mail
    image-mail()
image-marker()
    background-repeat no-repeat
    width (12/10)rem
    height (18/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%2012%2018%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M0%200h12v18H0z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22%2335385E%22%20d%3D%22M6%2018S0%209.3%200%206s2.7-6%206-6%206%202.7%206%206-6%2012-6%2012M6%203C4.3%203%203%204.3%203%206s1.3%203%203%203%203-1.3%203-3-1.3-3-3-3%22%2F%3E%3C%2Fsvg%3E')
    background-size (12/10)rem (18/10)rem
$icon-marker
    image-marker()
image-metadesign-logo-hover()
    background-repeat no-repeat
    width (20/10)rem
    height (20/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22%23bdd646%22%20d%3D%22M15.862%207.056l-4.22%204.222-2.92-2.92%204.23-4.23h-2.77V0h9.798L20%209.817h-4.138v-2.76zm-5.678%209.108a6.345%206.345%200%200%200%205.713-3.58h4.09C18.78%2016.864%2014.848%2020%2010.183%2020%204.56%2020%200%2015.44%200%209.817%200%205.16%203.127%201.233%207.397.02v4.093a6.348%206.348%200%200%200%202.787%2012.05z%22%2F%3E%3C%2Fsvg%3E')
    background-size (20/10)rem (20/10)rem
$icon-metadesign-logo-hover
    image-metadesign-logo-hover()
image-metadesign-logo()
    background-repeat no-repeat
    width (20/10)rem
    height (20/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill%3D%22%23ddd%22%20d%3D%22M15.862%207.056l-4.22%204.222-2.92-2.92%204.23-4.23h-2.77V0h9.798L20%209.817h-4.138v-2.76zm-5.678%209.108a6.345%206.345%200%200%200%205.713-3.58h4.09C18.78%2016.864%2014.848%2020%2010.183%2020%204.56%2020%200%2015.44%200%209.817%200%205.16%203.127%201.233%207.397.02v4.093a6.348%206.348%200%200%200%202.787%2012.05z%22%2F%3E%3C%2Fsvg%3E')
    background-size (20/10)rem (20/10)rem
$icon-metadesign-logo
    image-metadesign-logo()
image-metadesign-text()
    background-repeat no-repeat
    width (98/10)rem
    height (18/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2298%22%20height%3D%2218%22%20viewBox%3D%220%200%2098%2018%22%3E%3Cpath%20fill%3D%22%23ddd%22%20d%3D%22M94.783%2015.38v-5.235h-2.05v5.234h-3.138V3.053h3.14v4.754h2.048V3.054h3.138V15.38h-3.137zm-9.775-2.866c0-.447.05-.96.11-1.505.08-.545.16-1.105.258-1.65.08-.543.16-1.04.208-1.488h-.018L82.86%2015.38h-3.04V3.054h2.994V6.11c-.017.705-.097%201.473-.21%202.338a30.096%2030.096%200%200%200-.27%202.337h.017l2.657-7.73H88v12.324h-2.993v-2.866zm-1.106-10.18c-.815%200-1.457-.177-1.938-.513-.48-.352-.752-.91-.8-1.712h1.185c.063.384.27.64.59.736.337.112.675.16%201.025.144.386.017.704-.03.978-.144.256-.112.447-.353.576-.736h1.15c-.032.736-.304%201.297-.848%201.665-.543.37-1.18.56-1.92.56zm-8.43%2010.562h-2.385l-.4%202.48h-3.12L72.4%203.054h3.744l2.88%2012.325h-3.07l-.48-2.482zm-1.247-7.633h-.017l-.815%205.426h1.664l-.832-5.427zm-9.217%2010.372a5.27%205.27%200%200%201-1.92-.32c-.625-.224-1.152-.64-1.554-1.215-.416-.578-.624-1.394-.642-2.45h2.883c0%20.673.11%201.152.304%201.41a.9.9%200%200%200%20.8.366c.416.016.704-.11.88-.367.178-.258.272-.737.272-1.41%200-.56-.112-.977-.32-1.23-.208-.258-.575-.386-1.058-.386h-.463v-2.21h.753c.24%200%20.447-.11.64-.352.192-.224.29-.56.306-1.01%200-.463-.08-.83-.258-1.103-.16-.257-.433-.4-.8-.4-.4%200-.673.144-.833.432-.145.288-.225.752-.225%201.393h-2.883c.018-1.297.4-2.29%201.12-2.977.737-.705%201.665-1.058%202.817-1.058%201.248.017%202.208.353%202.864.977.673.624%201.01%201.377%201.01%202.273.016.752-.13%201.36-.417%201.793-.304.448-.77.8-1.425%201.057h.03c.45.144.833.336%201.17.544.353.224.607.528.8.944.193.416.29.976.305%201.713-.016%201.217-.398%202.113-1.152%202.706-.736.592-1.744.88-3.007.88zm-8.623-3.12c0-.448.05-.962.11-1.506.08-.545.16-1.105.258-1.65.08-.543.16-1.04.208-1.488h-.017l-2.705%207.508h-3.04V3.054h2.993V6.11c-.016.705-.095%201.473-.208%202.338a41.573%2041.573%200%200%200-.27%202.337h.016l2.656-7.73h2.993v12.324h-2.993v-2.866zm-9.423%202.846h-4.514v2.53h-3.04v-4.85h.43c.32-.464.562-.943.737-1.473.176-.514.304-1.17.368-1.953.08-.784.112-1.81.112-3.058V3.054h8.275v9.988h.672v4.85h-3.04v-2.53zm-.753-9.985H44.11v2.32c.017%201.17-.063%202.194-.208%203.042-.144.863-.4%201.617-.784%202.306h3.09V5.375zm-10.752%207.52h-2.385l-.4%202.482H29.55l2.834-12.325h3.746l2.88%2012.325H35.94l-.48-2.48zm-1.25-7.632h-.015l-.816%205.426h1.665l-.833-5.427zM27.25%2015.38h-2.88V5.374h-2.465v-2.32h7.65v2.32H27.25V15.38zM13.424%203.053h7.283v2.32H16.56V7.81h3.713v2.32H16.56v2.914h4.146v2.337h-7.283V3.053zM8.835%2011.04c0-.415.016-.976.032-1.68a89.19%2089.19%200%200%201%20.064-2.097c.017-.688.05-1.217.065-1.585H8.98l-1.938%209.7H4.865l-1.937-9.7h-.015c.016.304.032.77.064%201.393.016.625.048%201.298.064%202.018.017.72.033%201.377.033%201.938v4.354H.08V3.054h4.37l1.008%204.994c.112.528.192%201.152.272%201.89.064.72.128%201.393.208%202h.032c.048-.385.096-.815.144-1.313.048-.48.112-.96.16-1.425.048-.464.112-.848.176-1.152l1.008-4.994h4.37V15.38H8.835v-4.34z%22%2F%3E%3C%2Fsvg%3E')
    background-size (98/10)rem (18/10)rem
$icon-metadesign-text
    image-metadesign-text()
image-metadesign()
    background-repeat no-repeat
    width (265/10)rem
    height (26/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22265%22%20height%3D%2226%22%20viewBox%3D%220%200%20265%2026%22%3E%3Cpath%20fill%3D%22%23BDD646%22%20d%3D%22M12%203v5h3l-5%205%203%203%205-5v3h5V3z%22%2F%3E%3Cpath%20fill%3D%22%23BDD646%22%20d%3D%22M17.518%2017A6.5%206.5%200%200%201%205%2014.545a6.502%206.502%200%200%201%204-6V3C4%204%200%209.143%200%2014.5%200%2020.97%205.033%2026%2011.5%2026c5.365%200%2010.5-4%2011.5-9h-5.482z%22%2F%3E%3Cpath%20d%3D%22M37%203v5h3l-5%205%203%203%205-5v3h5V3z%22%2F%3E%3Cpath%20d%3D%22M42.518%2017A6.5%206.5%200%200%201%2030%2014.545a6.502%206.502%200%200%201%204-6V3c-5%201-9%206.143-9%2011.5C25%2020.97%2030.033%2026%2036.5%2026c5.365%200%2010.5-4%2011.5-9h-5.482z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M62%203v5h3l-5%205%203%203%205-5v3h5V3z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M67.518%2017A6.5%206.5%200%200%201%2055%2014.545a6.502%206.502%200%200%201%204-6V3c-5%201-9%206.143-9%2011.5C50%2020.97%2055.033%2026%2061.5%2026c5.365%200%2010.5-4%2011.5-9h-5.482z%22%2F%3E%3Cpath%20d%3D%22M76%203v11h3V6l1.5%208h2.02L84%206v8h3V3h-4l-1.5%208L80%203zm13%2011h7v-2h-4V9h3V7h-3V5h4V3h-7zm15-9V3h-7v2h2v9h3V5zm3-2l-2.5%2011h2.5l.5-2h2l.5%202h2.5L110%203h-3zm1.5%202l1%205h-2l1-5zM146%203l-2.5%2011h2.5l.5-2h2l.5%202h2.5L149%203h-3zm1.5%202l1%205h-2l1-5zM116%209c0%202-1%203-1%203h-1v4h3v-2h4v2h3v-4h-1V3h-7v6zm5%203h-3.5s.5-.873.5-2V5h3v7zm4-9v11h3l3-5v5h3V3h-3l-3%206V3zm27%200v11h3l3-5v5h3V3h-3l-3%206V3zm-15%204c-.006-.58%200-2%201.5-2%201.02%200%201.5.417%201.5%201%200%201.875-2%202-2%202v1s2-.083%202%201.71c0%201-.707%201.29-1.5%201.29-1.5%200-1.496-1.38-1.5-2h-2c.016.965%200%204%203.5%204s4-1.738%204-3.305c0-.707-.5-1.695-2.162-1.695h-.035c1.697-1%201.693-2.12%201.693-2.813%200-1.542-.996-3.09-3.496-3.09C135.656%203.097%20135%206%20135%207h2zm17-7c.05.723%200%202%203%202s2.977-1.326%203-2h-2c-.11.342%200%201-1%201s-.943-.652-1-1h-2zm8%203v11h3V9h2v5h3V3h-3v4h-2V3z%22%2F%3E%3Cpath%20fill%3D%22%23FFF%22%20d%3D%22M171%203v11h3V6l1.5%208h2.02L179%206v8h3V3h-4l-1.5%208-1.5-8zm13%2011h7v-2h-4V9h3V7h-3V5h4V3h-7zm15-9V3h-7v2h2v9h3V5zm3-2l-2.5%2011h2.5l.5-2h2l.5%202h2.5L205%203h-3zm1.5%202l1%205h-2l1-5zM241%203l-2.5%2011h2.5l.5-2h2l.5%202h2.5L244%203h-3zm1.5%202l1%205h-2l1-5zM211%209c0%202-1%203-1%203h-1v4h3v-2h4v2h3v-4h-1V3h-7v6zm5%203h-3.5s.5-.873.5-2V5h3v7zm4-9v11h3l3-5v5h3V3h-3l-3%206V3zm27%200v11h3l3-5v5h3V3h-3l-3%206V3zm-15%204c-.006-.58%200-2%201.5-2%201.02%200%201.5.417%201.5%201%200%201.875-2%202-2%202v1s2-.083%202%201.71c0%201-.707%201.29-1.5%201.29-1.5%200-1.496-1.38-1.5-2h-2c.016.965%200%204%203.5%204s4-1.738%204-3.305c0-.707-.5-1.695-2.162-1.695h-.035c1.697-1%201.693-2.12%201.693-2.813%200-1.542-.996-3.09-3.496-3.09C230.656%203.097%20230%206%20230%207h2zm17-7c.05.723%200%202%203%202s2.977-1.326%203-2h-2c-.11.342%200%201-1%201s-.943-.652-1-1h-2zm8%203v11h3V9h2v5h3V3h-3v4h-2V3z%22%2F%3E%3C%2Fsvg%3E')
    background-size (265/10)rem (26/10)rem
$icon-metadesign
    image-metadesign()
image-metadesign2()
    background-repeat no-repeat
    width (171/10)rem
    height (31/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22171.362%22%20height%3D%2231.991%22%20viewBox%3D%220%200%20171.362%2031.991%22%3E%3Cpath%20fill%3D%22%23353535%22%20d%3D%22M14.21%2026.54c-4.894%200-8.858-4.033-8.858-9.016%200-3.563%202.027-6.64%204.97-8.106V3.603C4.362%205.326%200%2010.903%200%2017.523c0%207.99%206.36%2014.468%2014.208%2014.468%206.51%200%2011.995-4.454%2013.677-10.535h-5.703c-1.435%203.012-4.467%205.085-7.973%205.085zm0-22.966V9.44h3.863l-5.9%206.008%204.072%204.15%205.89-6v3.926h5.772l-.027-13.95H14.21zm135.448%2011.58h-.02c.064-1%20.197-2.09.377-3.316.155-1.228.267-2.317.29-3.318V4.18h-4.172v17.498h4.238l3.772-10.658h.024c-.068.636-.18%201.342-.292%202.113-.135.772-.246%201.567-.357%202.34-.09.77-.154%201.5-.154%202.136v4.068h4.172V4.182h-4.172l-3.705%2010.973zm-96.082%206.52h10.152V18.36h-5.78v-4.137h5.177V10.93H57.95V7.475h5.778V4.18H53.576v17.495zm-9.722-10.403c-.09.432-.18.978-.245%201.637-.068.658-.157%201.342-.224%202.022a72.953%2072.953%200%200%201-.2%201.86h-.046a71.21%2071.21%200%200%201-.29-2.84c-.11-1.046-.223-1.932-.38-2.68l-1.404-7.09h-6.092v17.497h4.173v-6.18c0-.797-.022-1.727-.045-2.75-.02-1.023-.067-1.98-.09-2.864-.044-.886-.066-1.546-.09-1.978h.023l2.7%2013.77h3.035l2.7-13.77h.02c-.02.522-.065%201.273-.088%202.25-.044.98-.067%201.978-.09%202.977-.02%201-.044%201.796-.044%202.387v6.157h4.17V4.182H45.26l-1.406%207.09zm65.905%203.885h-.022c.087-1%20.198-2.09.377-3.317.153-1.228.266-2.317.29-3.318V4.18h-4.173v17.498h4.24l3.77-10.658h.026c-.07.636-.182%201.342-.29%202.113-.138.772-.25%201.567-.36%202.34-.088.77-.153%201.5-.153%202.136v4.068h4.17V4.182h-4.17l-3.706%2010.973zM149.12%202.432c.67.477%201.563.727%202.7.727%201.027%200%201.917-.273%202.676-.796.758-.522%201.14-1.32%201.183-2.363h-1.605c-.177.544-.445.887-.802%201.045-.38.162-.826.23-1.362.205a3.817%203.817%200%200%201-1.426-.205c-.448-.134-.738-.5-.825-1.044h-1.655c.068%201.137.448%201.93%201.117%202.432zm17.866%201.748v6.75h-2.855V4.18h-4.374v17.498h4.373v-7.43h2.855v7.427h4.374V4.18h-4.374zm-63.36%200H92.094v4.974c0%201.772-.045%203.228-.156%204.34-.09%201.113-.27%202.044-.515%202.773A8.155%208.155%200%200%201%2090.4%2018.36h-.603v6.884h4.24v-3.59h6.29v3.59h4.24V18.36h-.94V4.18zm-4.35%2014.18h-4.306c.536-.98.893-2.047%201.093-3.272.203-1.206.314-2.658.29-4.318V7.477h2.924V18.36zM76.063%204.18H65.396v3.297h3.437v14.2h4.016v-14.2h3.212V4.18zm53.68%209a7.246%207.246%200%200%200-1.63-.77h-.044c.912-.366%201.563-.866%201.986-1.502.4-.614.603-1.478.58-2.545%200-1.272-.47-2.34-1.406-3.226-.915-.887-2.254-1.363-3.995-1.388-1.603%200-2.896.5-3.923%201.5-1.004.978-1.54%202.385-1.563%204.227h4.017c0-.91.112-1.568.313-1.978.223-.41.604-.615%201.16-.615.513%200%20.893.204%201.115.567.245.387.356.91.356%201.567-.02.635-.154%201.113-.422%201.43-.27.344-.56.5-.894.5h-1.05v3.137h.647c.67%200%201.184.182%201.473.547.29.36.446.952.446%201.75%200%20.952-.132%201.635-.38%201.998-.245.362-.647.544-1.228.52a1.246%201.246%200%200%201-1.116-.52c-.27-.363-.424-1.046-.424-2h-4.017c.023%201.5.313%202.658.893%203.478.56.817%201.296%201.408%202.165%201.726a7.234%207.234%200%200%200%202.68.453c1.76%200%203.165-.408%204.19-1.248%201.05-.84%201.583-2.113%201.607-3.84-.024-1.045-.154-1.84-.426-2.432-.267-.59-.622-1.022-1.113-1.34zm6.045-9l-3.95%2017.495h4.352l.556-3.52h3.324l.67%203.52h4.284L141.006%204.18h-5.22zm1.383%2010.84l1.135-7.704h.025l1.16%207.703h-2.32zM80.006%204.18l-3.95%2017.495h4.353l.557-3.52h3.324l.67%203.52h4.285L85.228%204.18h-5.222zm1.386%2010.84l1.138-7.704h.02l1.163%207.703h-2.32z%22%2F%3E%3C%2Fsvg%3E')
    background-size (171/10)rem (31/10)rem
$icon-metadesign2
    image-metadesign2()
image-modal-arrow()
    background-repeat no-repeat
    width (54/10)rem
    height (154/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2254%22%20height%3D%22154%22%20viewBox%3D%220%200%2054%20154%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23FEBE11%22%20stroke-width%3D%226%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M31%203l20%2034.803L31%2073%22%2F%3E%3Cpath%20opacity%3D%22.2%22%20fill%3D%22none%22%20stroke%3D%22%23FFF%22%20stroke-width%3D%226%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M31%2081l20%2034.803L31%20151%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23FEBE11%22%20stroke-width%3D%226%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M23%203L3%2037.803%2023%2073%22%2F%3E%3Cpath%20opacity%3D%22.2%22%20fill%3D%22none%22%20stroke%3D%22%23FFF%22%20stroke-width%3D%226%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M23%2081L3%20115.803%2023%20151%22%2F%3E%3C%2Fsvg%3E')
    background-size (54/10)rem (154/10)rem
$icon-modal-arrow
    image-modal-arrow()
image-modal-close-black()
    background-repeat no-repeat
    width (26/10)rem
    height (26/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2026%2026%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23000100%22%20d%3D%22M25.7%203.8L22.2.3%2013%209.5%203.8.3.3%203.8%209.5%2013%20.3%2022.2l3.5%203.5%209.2-9.2%209.2%209.2%203.5-3.5-9.2-9.2z%22%2F%3E%3C%2Fsvg%3E')
    background-size (26/10)rem (26/10)rem
$icon-modal-close-black
    image-modal-close-black()
image-modal-close()
    background-repeat no-repeat
    width (26/10)rem
    height (26/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2026%2026%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23FFF%22%20d%3D%22M25.7%203.8L22.2.3%2013%209.5%203.8.3.3%203.8%209.5%2013%20.3%2022.2l3.5%203.5%209.2-9.2%209.2%209.2%203.5-3.5-9.2-9.2z%22%2F%3E%3C%2Fsvg%3E')
    background-size (26/10)rem (26/10)rem
$icon-modal-close
    image-modal-close()
image-mode-grey()
    background-repeat no-repeat
    width (24/10)rem
    height (24/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%20stroke%3D%22%23686868%22%20stroke-width%3D%221.5%22%20stroke-miterlimit%3D%2210%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%229.5%22%2F%3E%3Cpath%20stroke-linecap%3D%22round%22%20d%3D%22M16.9%2012.7h-4.7V7.1%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E')
    background-size (24/10)rem (24/10)rem
$icon-mode-grey
    image-mode-grey()
image-mode()
    background-repeat no-repeat
    width (24/10)rem
    height (24/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cg%20fill%3D%22none%22%20stroke%3D%22%23343760%22%20stroke-width%3D%221.5%22%20stroke-miterlimit%3D%2210%22%3E%3Ccircle%20cx%3D%2212%22%20cy%3D%2212%22%20r%3D%229.5%22%2F%3E%3Cpath%20stroke-linecap%3D%22round%22%20d%3D%22M16.9%2012.7h-4.7V7.1%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E')
    background-size (24/10)rem (24/10)rem
$icon-mode
    image-mode()
image-next-green()
    background-repeat no-repeat
    width (16/10)rem
    height (12/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2012%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%2339B54A%22%20d%3D%22M10.7.6l4.9%204.9c.3.3.3.8%200%201.1l-4.9%204.9c-.3.3-.8.3-1.1%200-.3-.3-.3-.8%200-1.1l3.6-3.6H.9C.5%206.8.1%206.4.1%206s.3-.8.8-.8h12.4L9.6%201.7c-.3-.3-.3-.8%200-1.1.3-.3.8-.3%201.1%200z%22%2F%3E%3C%2Fsvg%3E')
    background-size (16/10)rem (12/10)rem
$icon-next-green
    image-next-green()
image-next-grey()
    background-repeat no-repeat
    width (16/10)rem
    height (12/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2012%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23B5B5B5%22%20d%3D%22M10.7.6l4.9%204.9c.3.3.3.8%200%201.1l-4.9%204.9c-.3.3-.8.3-1.1%200-.3-.3-.3-.8%200-1.1l3.6-3.6H.9C.5%206.8.1%206.4.1%206s.3-.8.8-.8h12.4L9.6%201.7c-.3-.3-.3-.8%200-1.1.3-.3.8-.3%201.1%200z%22%2F%3E%3C%2Fsvg%3E')
    background-size (16/10)rem (12/10)rem
$icon-next-grey
    image-next-grey()
image-next-white()
    background-repeat no-repeat
    width (16/10)rem
    height (12/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2012%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23FFF%22%20d%3D%22M10.7.6l4.9%204.9c.3.3.3.8%200%201.1l-4.9%204.9c-.3.3-.8.3-1.1%200-.3-.3-.3-.8%200-1.1l3.6-3.6H.9C.5%206.8.1%206.4.1%206s.3-.8.8-.8h12.4L9.6%201.7c-.3-.3-.3-.8%200-1.1.3-.3.8-.3%201.1%200z%22%2F%3E%3C%2Fsvg%3E')
    background-size (16/10)rem (12/10)rem
$icon-next-white
    image-next-white()
image-page-next()
    background-repeat no-repeat
    width (16/10)rem
    height (26/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2026%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20fill%3D%22none%22%20stroke%3D%22%23646462%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M1.3.5l13%2012.5-13%2012.5%22%2F%3E%3C%2Fsvg%3E')
    background-size (16/10)rem (26/10)rem
$icon-page-next
    image-page-next()
image-page-prev()
    background-repeat no-repeat
    width (16/10)rem
    height (26/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2026%22%3E%3Cpath%20clip-rule%3D%22evenodd%22%20fill%3D%22none%22%20stroke%3D%22%23646462%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M14.3%2025.5L1.3%2013%2014.3.5%22%2F%3E%3C%2Fsvg%3E')
    background-size (16/10)rem (26/10)rem
$icon-page-prev
    image-page-prev()
image-paginator-arrow()
    background-repeat no-repeat
    width (84/10)rem
    height (44/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2084%2044%22%3E%3Cpath%20d%3D%22M24.3%2042l-20-20%2020-20m-21%2020h80%22%20fill%3D%22none%22%20stroke%3D%22%23333%22%20stroke-width%3D%225%22%20stroke-miterlimit%3D%2210%22%2F%3E%3C%2Fsvg%3E')
    background-size (84/10)rem (44/10)rem
$icon-paginator-arrow
    image-paginator-arrow()
image-paginator()
    background-repeat no-repeat
    width (42/10)rem
    height (48/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2042%2048%22%3E%3Cpath%20d%3D%22M22%2036V7h-2v29c-8.2.3-15.4%204.3-20%2010.2L2.4%2048c4.2-5.5%2011-9.1%2018.7-9.1%207.6%200%2014.2%203.5%2018.5%208.8l2.4-1.8c-4.6-5.8-11.8-9.6-20-9.9zM17%205c0-2.6%201.7-3.3%202.5-2h2.2c-.5-2.1-1.9-3-3.3-3C16.7%200%2015%201.5%2015%205v6h2V5z%22%2F%3E%3C%2Fsvg%3E')
    background-size (42/10)rem (48/10)rem
$icon-paginator
    image-paginator()
image-paginator2()
    background-repeat no-repeat
    width (42/10)rem
    height (48/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2042%2048%22%3E%3Cpath%20d%3D%22M22%2036V7h-2v29c-8.2.3-15.4%204.3-20%2010.2L2.4%2048c4.2-5.5%2011-9.1%2018.7-9.1%207.6%200%2014.2%203.5%2018.5%208.8l2.4-1.8c-4.6-5.8-11.8-9.6-20-9.9zM17%205c0-2.6%201.7-3.3%202.5-2h2.2c-.5-2.1-1.9-3-3.3-3C16.7%200%2015%201.5%2015%205v6h2V5z%22%20fill%3D%22%23C6C6C6%22%2F%3E%3C%2Fsvg%3E')
    background-size (42/10)rem (48/10)rem
$icon-paginator2
    image-paginator2()
image-phone-grey()
    background-repeat no-repeat
    width (24/10)rem
    height (24/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M.5.5h23v23H.5z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22%23686868%22%20d%3D%22M18.7%2014.5c-.5-.5-1.1-.8-1.8-.8-.6%200-1.3.3-1.8.8l-1.4%201.4-.2-.1c-.2-.1-.3-.2-.5-.2-1.4-.9-2.7-2-3.9-3.5-.5-.7-.9-1.3-1.2-1.8l.9-.9.2-.2c.1-.1.2-.1.2-.2l.2-.2c.6-.5.8-1.1.8-1.8%200-.6-.3-1.3-.8-1.8L8.1%203.9l-.4-.4-.9-.9c-.5-.5-1.1-.8-1.8-.8s-1.2.3-1.7.8L1.6%204.2C1%204.9.6%205.6.5%206.6c-.1%201.4.3%202.7.7%203.6.8%202.1%202%204.1%203.7%206.1%202.1%202.5%204.6%204.5%207.5%205.9%201.1.5%202.6%201.2%204.3%201.3h.3c1.2%200%202.1-.4%202.9-1.3.2-.3.5-.5.7-.8l.1-.1.6-.6c.5-.5.8-1.2.8-1.8%200-.7-.3-1.3-.8-1.8l-2.6-2.6zm1.5%205h-.1v.1l-.4.4-.1.1c-.3.3-.6.6-.9%201-.4.5-1%20.7-1.6.7h-.2c-1.4-.1-2.7-.6-3.6-1.1-2.7-1.3-5-3.1-7-5.4-1.6-1.9-2.7-3.7-3.4-5.6-.4-1.2-.6-2-.5-2.9%200-.5.2-.9.6-1.3l1.6-1.6c.1-.3.3-.4.4-.4.2%200%20.4.1.5.3.3.3.5.5.9.8l.2.2.3.3%201.3%201.3c.4.4.4.8%200%201.2l-.1.1-.3.3-1.2%201.2c-.5.5-.4%201-.3%201.3v.1c.3.8.8%201.6%201.6%202.6%201.3%201.6%202.7%202.9%204.3%203.9l.6.3c.2.1.3.2.5.2.2.1.4.1.6.1.3%200%20.6-.1.9-.4l1.6-1.6c.1-.1.3-.3.6-.3.2%200%20.4.2.5.3l2.6%202.6c.4.5.4.8.1%201.2M12.9%206.3c1.2.2%202.3.8%203.2%201.6.9.9%201.4%202%201.6%203.2.1.4.4.7.8.7h.1c.5-.1.8-.5.7-1-.3-1.6-1-3-2.1-4.1-1.1-1.1-2.5-1.9-4.1-2.1H13c-.4%200-.8.3-.8.7%200%20.2%200%20.5.1.6.2.2.4.4.6.4m10.6%204.3C23%208.1%2021.8%205.8%2020%204c-1.8-1.8-4.1-3-6.7-3.5h-.1c-.4%200-.8.3-.8.7-.1.5.2.9.7%201%202.2.4%204.2%201.4%205.7%203%201.6%201.6%202.6%203.6%203%205.7.1.4.4.7.8.7h.1c.2%200%20.4-.2.6-.3.2-.2.2-.4.2-.7%22%2F%3E%3C%2Fsvg%3E')
    background-size (24/10)rem (24/10)rem
$icon-phone-grey
    image-phone-grey()
image-phone-pink()
    background-repeat no-repeat
    width (24/10)rem
    height (24/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M.5.5h23v23H.5z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22%23ee46a0%22%20d%3D%22M18.7%2014.5c-.5-.5-1.1-.8-1.8-.8-.6%200-1.3.3-1.8.8l-1.4%201.4-.2-.1c-.2-.1-.3-.2-.5-.2-1.4-.9-2.7-2-3.9-3.5-.5-.7-.9-1.3-1.2-1.8l.9-.9.2-.2c.1-.1.2-.1.2-.2l.2-.2c.6-.5.8-1.1.8-1.8%200-.6-.3-1.3-.8-1.8L8.1%203.9l-.4-.4-.9-.9c-.5-.5-1.1-.8-1.8-.8s-1.2.3-1.7.8L1.6%204.2C1%204.9.6%205.6.5%206.6c-.1%201.4.3%202.7.7%203.6.8%202.1%202%204.1%203.7%206.1%202.1%202.5%204.6%204.5%207.5%205.9%201.1.5%202.6%201.2%204.3%201.3h.3c1.2%200%202.1-.4%202.9-1.3.2-.3.5-.5.7-.8l.1-.1.6-.6c.5-.5.8-1.2.8-1.8%200-.7-.3-1.3-.8-1.8l-2.6-2.6zm1.5%205h-.1v.1l-.4.4-.1.1c-.3.3-.6.6-.9%201-.4.5-1%20.7-1.6.7h-.2c-1.4-.1-2.7-.6-3.6-1.1-2.7-1.3-5-3.1-7-5.4-1.6-1.9-2.7-3.7-3.4-5.6-.4-1.2-.6-2-.5-2.9%200-.5.2-.9.6-1.3l1.6-1.6c.1-.3.3-.4.4-.4.2%200%20.4.1.5.3.3.3.5.5.9.8l.2.2.3.3%201.3%201.3c.4.4.4.8%200%201.2l-.1.1-.3.3-1.2%201.2c-.5.5-.4%201-.3%201.3v.1c.3.8.8%201.6%201.6%202.6%201.3%201.6%202.7%202.9%204.3%203.9l.6.3c.2.1.3.2.5.2.2.1.4.1.6.1.3%200%20.6-.1.9-.4l1.6-1.6c.1-.1.3-.3.6-.3.2%200%20.4.2.5.3l2.6%202.6c.4.5.4.8.1%201.2M12.9%206.3c1.2.2%202.3.8%203.2%201.6.9.9%201.4%202%201.6%203.2.1.4.4.7.8.7h.1c.5-.1.8-.5.7-1-.3-1.6-1-3-2.1-4.1-1.1-1.1-2.5-1.9-4.1-2.1H13c-.4%200-.8.3-.8.7%200%20.2%200%20.5.1.6.2.2.4.4.6.4m10.6%204.3C23%208.1%2021.8%205.8%2020%204c-1.8-1.8-4.1-3-6.7-3.5h-.1c-.4%200-.8.3-.8.7-.1.5.2.9.7%201%202.2.4%204.2%201.4%205.7%203%201.6%201.6%202.6%203.6%203%205.7.1.4.4.7.8.7h.1c.2%200%20.4-.2.6-.3.2-.2.2-.4.2-.7%22%2F%3E%3C%2Fsvg%3E')
    background-size (24/10)rem (24/10)rem
$icon-phone-pink
    image-phone-pink()
image-phone()
    background-repeat no-repeat
    width (24/10)rem
    height (24/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M.5.5h23v23H.5z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22%23343760%22%20d%3D%22M18.7%2014.5c-.5-.5-1.1-.8-1.8-.8-.6%200-1.3.3-1.8.8l-1.4%201.4-.2-.1c-.2-.1-.3-.2-.5-.2-1.4-.9-2.7-2-3.9-3.5-.5-.7-.9-1.3-1.2-1.8l.9-.9.2-.2c.1-.1.2-.1.2-.2l.2-.2c.6-.5.8-1.1.8-1.8%200-.6-.3-1.3-.8-1.8L8.1%203.9l-.4-.4-.9-.9c-.5-.5-1.1-.8-1.8-.8s-1.2.3-1.7.8L1.6%204.2C1%204.9.6%205.6.5%206.6c-.1%201.4.3%202.7.7%203.6.8%202.1%202%204.1%203.7%206.1%202.1%202.5%204.6%204.5%207.5%205.9%201.1.5%202.6%201.2%204.3%201.3h.3c1.2%200%202.1-.4%202.9-1.3.2-.3.5-.5.7-.8l.1-.1.6-.6c.5-.5.8-1.2.8-1.8%200-.7-.3-1.3-.8-1.8l-2.6-2.6zm1.5%205h-.1v.1l-.4.4-.1.1c-.3.3-.6.6-.9%201-.4.5-1%20.7-1.6.7h-.2c-1.4-.1-2.7-.6-3.6-1.1-2.7-1.3-5-3.1-7-5.4-1.6-1.9-2.7-3.7-3.4-5.6-.4-1.2-.6-2-.5-2.9%200-.5.2-.9.6-1.3l1.6-1.6c.1-.3.3-.4.4-.4.2%200%20.4.1.5.3.3.3.5.5.9.8l.2.2.3.3%201.3%201.3c.4.4.4.8%200%201.2l-.1.1-.3.3-1.2%201.2c-.5.5-.4%201-.3%201.3v.1c.3.8.8%201.6%201.6%202.6%201.3%201.6%202.7%202.9%204.3%203.9l.6.3c.2.1.3.2.5.2.2.1.4.1.6.1.3%200%20.6-.1.9-.4l1.6-1.6c.1-.1.3-.3.6-.3.2%200%20.4.2.5.3l2.6%202.6c.4.5.4.8.1%201.2M12.9%206.3c1.2.2%202.3.8%203.2%201.6.9.9%201.4%202%201.6%203.2.1.4.4.7.8.7h.1c.5-.1.8-.5.7-1-.3-1.6-1-3-2.1-4.1-1.1-1.1-2.5-1.9-4.1-2.1H13c-.4%200-.8.3-.8.7%200%20.2%200%20.5.1.6.2.2.4.4.6.4m10.6%204.3C23%208.1%2021.8%205.8%2020%204c-1.8-1.8-4.1-3-6.7-3.5h-.1c-.4%200-.8.3-.8.7-.1.5.2.9.7%201%202.2.4%204.2%201.4%205.7%203%201.6%201.6%202.6%203.6%203%205.7.1.4.4.7.8.7h.1c.2%200%20.4-.2.6-.3.2-.2.2-.4.2-.7%22%2F%3E%3C%2Fsvg%3E')
    background-size (24/10)rem (24/10)rem
$icon-phone
    image-phone()
image-prev()
    background-repeat no-repeat
    width (16/10)rem
    height (20/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2016%2020%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%230491EB%22%20d%3D%22M15.2%204.4L10.8%200%20.8%2010l10%2010%204.4-4.5L9.7%2010z%22%2F%3E%3C%2Fsvg%3E')
    background-size (16/10)rem (20/10)rem
$icon-prev
    image-prev()
image-radio()
    background-repeat no-repeat
    width (20/10)rem
    height (20/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2020%2020%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23ee46a0%22%20d%3D%22M10%206c2.2%200%204%201.8%204%204s-1.8%204-4%204-4-1.8-4-4%201.8-4%204-4z%22%2F%3E%3C%2Fsvg%3E')
    background-size (20/10)rem (20/10)rem
$icon-radio
    image-radio()
image-remove()
    background-repeat no-repeat
    width (6/10)rem
    height (6/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%206%206%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23EE46A0%22%20d%3D%22M6%20.8L5.2%200%203%202.3.8%200%200%20.8%202.3%203%200%205.2l.8.8L3%203.7%205.2%206l.8-.8L3.7%203z%22%2F%3E%3C%2Fsvg%3E')
    background-size (6/10)rem (6/10)rem
$icon-remove
    image-remove()
image-select-del()
    background-repeat no-repeat
    width (8/10)rem
    height (8/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%208%208%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23FFF%22%20d%3D%22M5.4%204l2.2%202.2c.4.4.4%201%200%201.4-.4.4-1.1.4-1.4%200L4%205.4%201.8%207.6c-.3.4-1%20.4-1.4%200C0%207.2%200%206.5.4%206.2L2.6%204%20.4%201.8C0%201.5%200%20.8.4.4c.4-.4%201-.4%201.4%200L4%202.6%206.2.4c.4-.4%201-.4%201.4%200%20.4.4.4%201%200%201.4L5.4%204z%22%2F%3E%3C%2Fsvg%3E')
    background-size (8/10)rem (8/10)rem
$icon-select-del
    image-select-del()
image-select()
    background-repeat no-repeat
    width (12/10)rem
    height (8/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2012%208%22%3E%3Cpath%20fill%3D%22%23B5B5B5%22%20d%3D%22M6.5%207l4.8-5c.3-.3.3-.8%200-1.1-.3-.3-.8-.3-1.1%200L6%205.4%201.7%201C1.4.7%201%20.7.7%201c-.3.3-.3.8%200%201.1l4.8%205c.3.2.7.2%201-.1z%22%2F%3E%3C%2Fsvg%3E')
    background-size (12/10)rem (8/10)rem
$icon-select
    image-select()
image-service-1-pink()
    background-repeat no-repeat
    width (210/10)rem
    height (210/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20210%20210%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M48%2028.5h114v153H48z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M147.5%20156h-85c-2.8%200-5-2.2-5-5V35c0-2.8%202.2-5%205-5h85c2.8%200%205%202.2%205%205v116c0%202.8-2.2%205-5%205z%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M65.5%2041h79v103h-79zm8%20115h63v16h-63zm-24%2016h111v8h-111z%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M73.5%2049h63v67m0%208v4%22%2F%3E%3C%2Fsvg%3E')
    background-size (210/10)rem (210/10)rem
$icon-service-1-pink
    image-service-1-pink()
image-service-1()
    background-repeat no-repeat
    width (210/10)rem
    height (210/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20210%20210%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M48%2028.5h114v153H48z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M147.5%20156h-85c-2.8%200-5-2.2-5-5V35c0-2.8%202.2-5%205-5h85c2.8%200%205%202.2%205%205v116c0%202.8-2.2%205-5%205z%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M65.5%2041h79v103h-79zm8%20115h63v16h-63zm-24%2016h111v8h-111z%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M73.5%2049h63v67m0%208v4%22%2F%3E%3C%2Fsvg%3E')
    background-size (210/10)rem (210/10)rem
$icon-service-1
    image-service-1()
image-service-11-pink()
    background-repeat no-repeat
    width (210/10)rem
    height (210/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20210%20210%22%3E%3Cg%20stroke%3D%22%23ee46a0%22%20fill%3D%22%23ee46a0%22%3E%3Cpath%20d%3D%22M145%2065v8h31v-8h-31zm28%205h-25v-2h25v2zm1-29h-41v8h41v-8zm-3%205h-35v-2h35v2zm-37%2050h12v-8h-12v8zm3-5h6v2h-6v-2zm-24.1-51.6c-10.7-9.2-24.9-13.2-39-11.1-20.6%203.1-37.1%2019.6-40.2%2040.2-2.6%2017.2%203.9%2033.8%2017.2%2044.7v12.9c0%20.8.7%201.5%201.5%201.5s1.5-.7%201.5-1.5v-13.7l-.6-1.2c-12.9-10.2-19.1-26-16.7-42.3C39.5%2049.6%2055%2034.1%2074.3%2031.2c13.2-2%2026.6%201.8%2036.6%2010.4s15.7%2021%2015.7%2034.2c0%2014.3-6.6%2027.5-18.1%2036.1l-.6%201.2V126c0%20.8.7%201.5%201.5%201.5s1.5-.7%201.5-1.5v-12.2c11.9-9.2%2018.7-23%2018.7-38%20.1-13.9-6-27.2-16.7-36.4z%22%2F%3E%3Cpath%20d%3D%22M96.9%2065.2c5.2%200%209.5-4.3%209.5-9.5s-4.3-9.5-9.5-9.5-9.5%204.3-9.5%209.5%204.2%209.5%209.5%209.5zm0-16c3.6%200%206.5%202.9%206.5%206.5s-2.9%206.5-6.5%206.5-6.5-2.9-6.5-6.5%202.9-6.5%206.5-6.5zM82.4%2077.7c0%203%202.5%205.5%205.5%205.5s5.5-2.5%205.5-5.5-2.5-5.5-5.5-5.5-5.5%202.5-5.5%205.5zm5.5-2.5c1.4%200%202.5%201.1%202.5%202.5s-1.1%202.5-2.5%202.5-2.5-1.1-2.5-2.5%201.1-2.5%202.5-2.5zM107%20132v-.5l-1.5-1.5h-47l-1.5%201.5v.5h-4.5l-1.5%201.5v6c0%204.3%202.4%208.1%206%2010.1v6.9c0%2010%206.8%2018.3%2016%2020.8v3.2l1.5%201.5h15l1.5-1.5v-3.2c4.5-1.2%208.5-3.9%2011.4-7.4%201.1-1.4%202.1-3%202.9-4.7h.1c.4-.9.7-1.9%201-2.8h-.1c.5-1.8.8-3.8.8-5.7V149c3-2.1%205-5.5%205-9.5v-6l-1.5-1.5H107zm2%207.5c0%202.1-.8%204-2%205.5-.8%201-1.8%201.7-3%202.3-1.1.5-2.3.8-3.5.8h-38c-.9%200-1.7-.1-2.5-.4-1.1-.3-2.1-.9-3-1.7-1.8-1.6-3-3.9-3-6.5V135h55v4.5zM88%20178v1H76v-1h12zm-2.1-3h-7c-7.1%200-13.3-4-16.4-9.9l30.7%208.4c-2.2%201-4.7%201.5-7.3%201.5zm10.6-3.4l-35.8-9.8c-.5-1.6-.7-3.3-.7-5.1V153l42.3%2011.6c-1.4%202.7-3.3%205.2-5.8%207zm7.5-15.1c0%201.7-.3%203.4-.7%205L65.1%20151h31.7l7.2%202v3.5z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E')
    background-size (210/10)rem (210/10)rem
$icon-service-11-pink
    image-service-11-pink()
image-service-11()
    background-repeat no-repeat
    width (210/10)rem
    height (210/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20210%20210%22%3E%3Cg%20stroke%3D%22%2336385c%22%20fill%3D%22%2336385c%22%3E%3Cpath%20d%3D%22M145%2065v8h31v-8h-31zm28%205h-25v-2h25v2zm1-29h-41v8h41v-8zm-3%205h-35v-2h35v2zm-37%2050h12v-8h-12v8zm3-5h6v2h-6v-2zm-24.1-51.6c-10.7-9.2-24.9-13.2-39-11.1-20.6%203.1-37.1%2019.6-40.2%2040.2-2.6%2017.2%203.9%2033.8%2017.2%2044.7v12.9c0%20.8.7%201.5%201.5%201.5s1.5-.7%201.5-1.5v-13.7l-.6-1.2c-12.9-10.2-19.1-26-16.7-42.3C39.5%2049.6%2055%2034.1%2074.3%2031.2c13.2-2%2026.6%201.8%2036.6%2010.4s15.7%2021%2015.7%2034.2c0%2014.3-6.6%2027.5-18.1%2036.1l-.6%201.2V126c0%20.8.7%201.5%201.5%201.5s1.5-.7%201.5-1.5v-12.2c11.9-9.2%2018.7-23%2018.7-38%20.1-13.9-6-27.2-16.7-36.4z%22%2F%3E%3Cpath%20d%3D%22M96.9%2065.2c5.2%200%209.5-4.3%209.5-9.5s-4.3-9.5-9.5-9.5-9.5%204.3-9.5%209.5%204.2%209.5%209.5%209.5zm0-16c3.6%200%206.5%202.9%206.5%206.5s-2.9%206.5-6.5%206.5-6.5-2.9-6.5-6.5%202.9-6.5%206.5-6.5zM82.4%2077.7c0%203%202.5%205.5%205.5%205.5s5.5-2.5%205.5-5.5-2.5-5.5-5.5-5.5-5.5%202.5-5.5%205.5zm5.5-2.5c1.4%200%202.5%201.1%202.5%202.5s-1.1%202.5-2.5%202.5-2.5-1.1-2.5-2.5%201.1-2.5%202.5-2.5zM107%20132v-.5l-1.5-1.5h-47l-1.5%201.5v.5h-4.5l-1.5%201.5v6c0%204.3%202.4%208.1%206%2010.1v6.9c0%2010%206.8%2018.3%2016%2020.8v3.2l1.5%201.5h15l1.5-1.5v-3.2c4.5-1.2%208.5-3.9%2011.4-7.4%201.1-1.4%202.1-3%202.9-4.7h.1c.4-.9.7-1.9%201-2.8h-.1c.5-1.8.8-3.8.8-5.7V149c3-2.1%205-5.5%205-9.5v-6l-1.5-1.5H107zm2%207.5c0%202.1-.8%204-2%205.5-.8%201-1.8%201.7-3%202.3-1.1.5-2.3.8-3.5.8h-38c-.9%200-1.7-.1-2.5-.4-1.1-.3-2.1-.9-3-1.7-1.8-1.6-3-3.9-3-6.5V135h55v4.5zM88%20178v1H76v-1h12zm-2.1-3h-7c-7.1%200-13.3-4-16.4-9.9l30.7%208.4c-2.2%201-4.7%201.5-7.3%201.5zm10.6-3.4l-35.8-9.8c-.5-1.6-.7-3.3-.7-5.1V153l42.3%2011.6c-1.4%202.7-3.3%205.2-5.8%207zm7.5-15.1c0%201.7-.3%203.4-.7%205L65.1%20151h31.7l7.2%202v3.5z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E')
    background-size (210/10)rem (210/10)rem
$icon-service-11
    image-service-11()
image-service-12-pink()
    background-repeat no-repeat
    width (210/10)rem
    height (210/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20210%20210%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M37%2031h136v121H37z%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20d%3D%22M95.9%20108l-5%2018H74.5l21.4-70h20.8l21.7%2070h-17l-5.4-18H95.9zm17.7-11l-4.3-14.7c-1.2-4.1-2.5-9.2-3.5-13.3h-.2c-1%204.1-2.1%209.3-3.2%2013.3L98.3%2097h15.3z%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M37%20152h136l-11%2027H48z%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M122%2040h41v37%22%2F%3E%3C%2Fsvg%3E')
    background-size (210/10)rem (210/10)rem
$icon-service-12-pink
    image-service-12-pink()
image-service-12()
    background-repeat no-repeat
    width (210/10)rem
    height (210/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20210%20210%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M37%2031h136v121H37z%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20d%3D%22M95.9%20108l-5%2018H74.5l21.4-70h20.8l21.7%2070h-17l-5.4-18H95.9zm17.7-11l-4.3-14.7c-1.2-4.1-2.5-9.2-3.5-13.3h-.2c-1%204.1-2.1%209.3-3.2%2013.3L98.3%2097h15.3z%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M37%20152h136l-11%2027H48z%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M122%2040h41v37%22%2F%3E%3C%2Fsvg%3E')
    background-size (210/10)rem (210/10)rem
$icon-service-12
    image-service-12()
image-service-2-pink()
    background-repeat no-repeat
    width (210/10)rem
    height (210/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20210%20210%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M36.8%2031h136.4v148H36.8z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20d%3D%22M82.7%20139.5l-10.5%2038H38.8l44.3-145h43l45%20145h-34.6l-11.4-38H82.7zm37-24l-8.9-30.4c-2.5-8.5-5.1-19.1-7.2-27.6h-.4c-2.1%208.5-4.3%2019.3-6.6%2027.6l-8.5%2030.4h31.6z%22%2F%3E%3C%2Fsvg%3E')
    background-size (210/10)rem (210/10)rem
$icon-service-2-pink
    image-service-2-pink()
image-service-2()
    background-repeat no-repeat
    width (210/10)rem
    height (210/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20210%20210%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M36.8%2031h136.4v148H36.8z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20d%3D%22M82.7%20139.5l-10.5%2038H38.8l44.3-145h43l45%20145h-34.6l-11.4-38H82.7zm37-24l-8.9-30.4c-2.5-8.5-5.1-19.1-7.2-27.6h-.4c-2.1%208.5-4.3%2019.3-6.6%2027.6l-8.5%2030.4h31.6z%22%2F%3E%3C%2Fsvg%3E')
    background-size (210/10)rem (210/10)rem
$icon-service-2
    image-service-2()
image-service-3-pink()
    background-repeat no-repeat
    width (210/10)rem
    height (210/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20210%20210%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M16.5%2028.5h177v153h-177z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M187%20156H23c-2.8%200-5-2.2-5-5V35c0-2.8%202.2-5%205-5h164c2.8%200%205%202.2%205%205v116c0%202.8-2.2%205-5%205z%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M26%2037h158v99H26zm51%20119h55v16H77zm79%2024H53v-3c0-2.8%202.2-5%205-5h93c2.8%200%205%202.2%205%205v3z%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M45%2049h118v32H45zm1%2040h39v16H46zm47%200h24v16H93zm31%200h39v32h-39z%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22bevel%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M45%20112h40m-40%208h71%22%2F%3E%3C%2Fsvg%3E')
    background-size (210/10)rem (210/10)rem
$icon-service-3-pink
    image-service-3-pink()
image-service-3()
    background-repeat no-repeat
    width (210/10)rem
    height (210/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20210%20210%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M16.5%2028.5h177v153h-177z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M187%20156H23c-2.8%200-5-2.2-5-5V35c0-2.8%202.2-5%205-5h164c2.8%200%205%202.2%205%205v116c0%202.8-2.2%205-5%205z%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M26%2037h158v99H26zm51%20119h55v16H77zm79%2024H53v-3c0-2.8%202.2-5%205-5h93c2.8%200%205%202.2%205%205v3z%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M45%2049h118v32H45zm1%2040h39v16H46zm47%200h24v16H93zm31%200h39v32h-39z%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22bevel%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M45%20112h40m-40%208h71%22%2F%3E%3C%2Fsvg%3E')
    background-size (210/10)rem (210/10)rem
$icon-service-3
    image-service-3()
image-service-4-pink()
    background-repeat no-repeat
    width (210/10)rem
    height (210/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20210%20210%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M32.5%2028.5h145v153h-145z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M162%20158H48c-2.8%200-5-2.2-5-5V39c0-2.8%202.2-5%205-5h114c2.8%200%205%202.2%205%205v114c0%202.8-2.2%205-5%205z%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M167%2052H43V39c0-2.8%202.2-5%205-5h114c2.8%200%205%202.2%205%205v13zm0%2048H43v53c0%202.8%202.2%205%205%205h114c2.8%200%205-2.2%205-5v-53zm-62-48v48m-66.4-5h-.2C36%2095%2034%2093%2034%2090.6V73.4c0-2.4%202-4.4%204.4-4.4h.2c2.4%200%204.4%202%204.4%204.4v17.2c0%202.4-2%204.4-4.4%204.4zm133%200h-.2c-2.4%200-4.4-2-4.4-4.4V73.4c0-2.4%202-4.4%204.4-4.4h.2c2.4%200%204.4%202%204.4%204.4v17.2c0%202.4-2%204.4-4.4%204.4z%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M56%20140H43v-26h13c2.8%200%205%202.2%205%205v16c0%202.8-2.2%205-5%205zm97%200h13v-26h-13c-2.8%200-5%202.2-5%205v16c0%202.8%202.2%205%205%205zM47%20158h18v22H47zm97%200h18v22h-18zm-79%200h79v4H65zm22-40v17m9-17v26m9-26v26m8-26v26m9-26v17m-79-4h17m89%200h17m1%209h4v9h-4zm-128%200h4v9h-4zM82%2030h44v4H82z%22%2F%3E%3C%2Fsvg%3E')
    background-size (210/10)rem (210/10)rem
$icon-service-4-pink
    image-service-4-pink()
image-service-4()
    background-repeat no-repeat
    width (210/10)rem
    height (210/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20210%20210%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M32.5%2028.5h145v153h-145z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M162%20158H48c-2.8%200-5-2.2-5-5V39c0-2.8%202.2-5%205-5h114c2.8%200%205%202.2%205%205v114c0%202.8-2.2%205-5%205z%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M167%2052H43V39c0-2.8%202.2-5%205-5h114c2.8%200%205%202.2%205%205v13zm0%2048H43v53c0%202.8%202.2%205%205%205h114c2.8%200%205-2.2%205-5v-53zm-62-48v48m-66.4-5h-.2C36%2095%2034%2093%2034%2090.6V73.4c0-2.4%202-4.4%204.4-4.4h.2c2.4%200%204.4%202%204.4%204.4v17.2c0%202.4-2%204.4-4.4%204.4zm133%200h-.2c-2.4%200-4.4-2-4.4-4.4V73.4c0-2.4%202-4.4%204.4-4.4h.2c2.4%200%204.4%202%204.4%204.4v17.2c0%202.4-2%204.4-4.4%204.4z%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M56%20140H43v-26h13c2.8%200%205%202.2%205%205v16c0%202.8-2.2%205-5%205zm97%200h13v-26h-13c-2.8%200-5%202.2-5%205v16c0%202.8%202.2%205%205%205zM47%20158h18v22H47zm97%200h18v22h-18zm-79%200h79v4H65zm22-40v17m9-17v26m9-26v26m8-26v26m9-26v17m-79-4h17m89%200h17m1%209h4v9h-4zm-128%200h4v9h-4zM82%2030h44v4H82z%22%2F%3E%3C%2Fsvg%3E')
    background-size (210/10)rem (210/10)rem
$icon-service-4
    image-service-4()
image-service-5-pink()
    background-repeat no-repeat
    width (210/10)rem
    height (210/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20210%20210%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M24%2028.5h162v153H24z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M109.5%2030h19v122h-19z%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M128.5%2068h5v47h-5z%22%2F%3E%3Cdefs%3E%3Cpath%20id%3D%22c%22%20d%3D%22M24%2028.5h162v153H24z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22d%22%3E%3Cuse%20xlink%3Ahref%3D%22%23c%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23d%29%22%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M25.5%2077h28v28h-28zm.3%2028h18.7v75h-9.4z%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M109.5%2040.1l-56%2037.3v28l56%2037.4zm-65%2078.9h9v14h-9zm103-32h28v5h-28z%22%2F%3E%3Cdefs%3E%3Cpath%20id%3D%22e%22%20d%3D%22M24%2028.5h162v153H24z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22f%22%3E%3Cuse%20xlink%3Ahref%3D%22%23e%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23f%29%22%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M146.5%2063h38v5h-38z%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M147.5%20110h9v5h-9z%22%2F%3E%3C%2Fsvg%3E')
    background-size (210/10)rem (210/10)rem
$icon-service-5-pink
    image-service-5-pink()
image-service-5()
    background-repeat no-repeat
    width (210/10)rem
    height (210/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20210%20210%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M24%2028.5h162v153H24z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M109.5%2030h19v122h-19z%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M128.5%2068h5v47h-5z%22%2F%3E%3Cdefs%3E%3Cpath%20id%3D%22c%22%20d%3D%22M24%2028.5h162v153H24z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22d%22%3E%3Cuse%20xlink%3Ahref%3D%22%23c%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23d%29%22%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M25.5%2077h28v28h-28zm.3%2028h18.7v75h-9.4z%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M109.5%2040.1l-56%2037.3v28l56%2037.4zm-65%2078.9h9v14h-9zm103-32h28v5h-28z%22%2F%3E%3Cdefs%3E%3Cpath%20id%3D%22e%22%20d%3D%22M24%2028.5h162v153H24z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22f%22%3E%3Cuse%20xlink%3Ahref%3D%22%23e%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23f%29%22%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M146.5%2063h38v5h-38z%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M147.5%20110h9v5h-9z%22%2F%3E%3C%2Fsvg%3E')
    background-size (210/10)rem (210/10)rem
$icon-service-5
    image-service-5()
image-service-6-pink()
    background-repeat no-repeat
    width (210/10)rem
    height (210/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20210%20210%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M16.5%2028.5h177v153h-177z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M187%20156H23c-2.8%200-5-2.2-5-5V35c0-2.8%202.2-5%205-5h164c2.8%200%205%202.2%205%205v116c0%202.8-2.2%205-5%205z%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M26%2037h158v99H26zm51%20119h55v16H77zm79%2024H53v-3c0-2.8%202.2-5%205-5h93c2.8%200%205%202.2%205%205v3z%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M45%2049h118v32H45zm1%2040h39v16H46zm47%200h24v16H93zm31%200h39v32h-39z%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22bevel%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M45%20112h40m-40%208h71%22%2F%3E%3C%2Fsvg%3E')
    background-size (210/10)rem (210/10)rem
$icon-service-6-pink
    image-service-6-pink()
image-service-6()
    background-repeat no-repeat
    width (210/10)rem
    height (210/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20210%20210%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M16.5%2028.5h177v153h-177z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M187%20156H23c-2.8%200-5-2.2-5-5V35c0-2.8%202.2-5%205-5h164c2.8%200%205%202.2%205%205v116c0%202.8-2.2%205-5%205z%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M26%2037h158v99H26zm51%20119h55v16H77zm79%2024H53v-3c0-2.8%202.2-5%205-5h93c2.8%200%205%202.2%205%205v3z%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M45%2049h118v32H45zm1%2040h39v16H46zm47%200h24v16H93zm31%200h39v32h-39z%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22bevel%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M45%20112h40m-40%208h71%22%2F%3E%3C%2Fsvg%3E')
    background-size (210/10)rem (210/10)rem
$icon-service-6
    image-service-6()
image-service-7-pink()
    background-repeat no-repeat
    width (210/10)rem
    height (210/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20210%20210%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M40.5%2028.5h129v153h-129z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M168%20180H42V30h114.1L168%2041.9z%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22bevel%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M167.9%2042H156V30.1%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22bevel%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M58%2045h95v8H58zm0%2040h16v55H58zm24%200h16v55H82zm24-24h47v55h-47zm-48%2087h95v16H58zm0-87h40m-40%208h24m-24%208h36m12%2047h47m-47%208h15m-15%208h47m-24-8h8%22%2F%3E%3C%2Fsvg%3E')
    background-size (210/10)rem (210/10)rem
$icon-service-7-pink
    image-service-7-pink()
image-service-7()
    background-repeat no-repeat
    width (210/10)rem
    height (210/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20210%20210%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M40.5%2028.5h129v153h-129z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M168%20180H42V30h114.1L168%2041.9z%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22bevel%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M167.9%2042H156V30.1%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22bevel%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M58%2045h95v8H58zm0%2040h16v55H58zm24%200h16v55H82zm24-24h47v55h-47zm-48%2087h95v16H58zm0-87h40m-40%208h24m-24%208h36m12%2047h47m-47%208h15m-15%208h47m-24-8h8%22%2F%3E%3C%2Fsvg%3E')
    background-size (210/10)rem (210/10)rem
$icon-service-7
    image-service-7()
image-service-8-pink()
    background-repeat no-repeat
    width (210/10)rem
    height (210/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20210%20210%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M52.5%2028h105v154h-105z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M54%20124.5h47v55H54zm31-36H70l-16%2036h47z%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M85%2079.5l-15-3.8v12.8h15z%22%2F%3E%3Cdefs%3E%3Cpath%20id%3D%22c%22%20d%3D%22M52.5%2028h105v154h-105z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22d%22%3E%3Cuse%20xlink%3Ahref%3D%22%23c%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23d%29%22%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M109%2077.5v103h47v-103m0%200l-16-36h-15.8l-15.2%2036%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23d%29%22%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M136.1%2029.5h-8l-4%2012h16z%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23d%29%22%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M124.2%2077.4c0%204.4-3.5%207.9-7.9%207.9s-7.3-3.4-7.3-7.8%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23d%29%22%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M140%2077.4c0%204.4-3.5%207.9-7.9%207.9s-7.9-3.5-7.9-7.9m31.8.1c0%204.4-3.7%207.8-8.1%207.8-4.4%200-7.9-3.5-7.9-7.9m-16%204.1v99m16-99v99m-73-48h19c2.8%200%205%202.2%205%205v19m0%208v8%22%2F%3E%3C%2Fsvg%3E')
    background-size (210/10)rem (210/10)rem
$icon-service-8-pink
    image-service-8-pink()
image-service-8()
    background-repeat no-repeat
    width (210/10)rem
    height (210/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20210%20210%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M52.5%2028h105v154h-105z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M54%20124.5h47v55H54zm31-36H70l-16%2036h47z%22%2F%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M85%2079.5l-15-3.8v12.8h15z%22%2F%3E%3Cdefs%3E%3Cpath%20id%3D%22c%22%20d%3D%22M52.5%2028h105v154h-105z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22d%22%3E%3Cuse%20xlink%3Ahref%3D%22%23c%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23d%29%22%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M109%2077.5v103h47v-103m0%200l-16-36h-15.8l-15.2%2036%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23d%29%22%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M136.1%2029.5h-8l-4%2012h16z%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23d%29%22%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M124.2%2077.4c0%204.4-3.5%207.9-7.9%207.9s-7.3-3.4-7.3-7.8%22%2F%3E%3Cpath%20clip-path%3D%22url%28%23d%29%22%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M140%2077.4c0%204.4-3.5%207.9-7.9%207.9s-7.9-3.5-7.9-7.9m31.8.1c0%204.4-3.7%207.8-8.1%207.8-4.4%200-7.9-3.5-7.9-7.9m-16%204.1v99m16-99v99m-73-48h19c2.8%200%205%202.2%205%205v19m0%208v8%22%2F%3E%3C%2Fsvg%3E')
    background-size (210/10)rem (210/10)rem
$icon-service-8
    image-service-8()
image-service-9-pink()
    background-repeat no-repeat
    width (210/10)rem
    height (210/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20210%20210%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M36.8%2031h136.4v148H36.8z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%23ee46a0%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20d%3D%22M82.7%20139.5l-10.5%2038H38.8l44.3-145h43l45%20145h-34.6l-11.4-38H82.7zm37-24l-8.9-30.4c-2.5-8.5-5.1-19.1-7.2-27.6h-.4c-2.1%208.5-4.3%2019.3-6.6%2027.6l-8.5%2030.4h31.6z%22%2F%3E%3C%2Fsvg%3E')
    background-size (210/10)rem (210/10)rem
$icon-service-9-pink
    image-service-9-pink()
image-service-9()
    background-repeat no-repeat
    width (210/10)rem
    height (210/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20210%20210%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M36.8%2031h136.4v148H36.8z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%2336385c%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%20d%3D%22M82.7%20139.5l-10.5%2038H38.8l44.3-145h43l45%20145h-34.6l-11.4-38H82.7zm37-24l-8.9-30.4c-2.5-8.5-5.1-19.1-7.2-27.6h-.4c-2.1%208.5-4.3%2019.3-6.6%2027.6l-8.5%2030.4h31.6z%22%2F%3E%3C%2Fsvg%3E')
    background-size (210/10)rem (210/10)rem
$icon-service-9
    image-service-9()
image-slider-arrow()
    background-repeat no-repeat
    width (18/10)rem
    height (16/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2018%2016%22%3E%3Cpath%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20fill%3D%22%23B5B5B5%22%20d%3D%22M7.4.8L1%207.3c-.4.4-.4%201%200%201.4l6.4%206.5c.4.4%201%20.4%201.4%200%20.4-.4.4-1%200-1.4L4.1%209h12.1c.6%200%201-.4%201-1s-.4-1-1-1H4.1l4.7-4.8c.4-.4.4-1%200-1.4-.4-.4-1-.4-1.4%200z%22%2F%3E%3C%2Fsvg%3E')
    background-size (18/10)rem (16/10)rem
$icon-slider-arrow
    image-slider-arrow()
image-star()
    background-repeat no-repeat
    width (24/10)rem
    height (24/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23CCC%22%20stroke-width%3D%222%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M12.8%202l2.7%205.6c.1.2.4.4.6.4l6.1.9c.7.1%201%20.9.5%201.4l-4.4%204.3c-.2.2-.3.5-.2.7l1%206.1c.1.7-.6%201.2-1.2.9l-5.5-2.9c-.2-.1-.5-.1-.8%200l-5.5%202.9c-.6.3-1.3-.2-1.2-.9l1-6.1c0-.3%200-.6-.2-.7l-4.4-4.3C.8%209.8%201%209%201.7%208.9L7.9%208c.3%200%20.5-.2.6-.5L11.2%202c.4-.7%201.2-.7%201.6%200z%22%2F%3E%3C%2Fsvg%3E')
    background-size (24/10)rem (24/10)rem
$icon-star
    image-star()
image-zamok()
    background-repeat no-repeat
    width (10/10)rem
    height (14/10)rem
    background-image url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%2010%2014%22%3E%3Cpath%20fill%3D%22%2335385E%22%20d%3D%22M0%206h10v8H0z%22%2F%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M0%200h10v14H0z%22%2F%3E%3C%2Fdefs%3E%3CclipPath%20id%3D%22b%22%3E%3Cuse%20xlink%3Ahref%3D%22%23a%22%20overflow%3D%22visible%22%2F%3E%3C%2FclipPath%3E%3Cpath%20clip-path%3D%22url%28%23b%29%22%20fill%3D%22none%22%20stroke%3D%22%2335385E%22%20stroke-miterlimit%3D%2210%22%20d%3D%22M5%20.5C6.9.5%208.5%202.1%208.5%204v3.5h-7V4C1.5%202.1%203.1.5%205%20.5z%22%2F%3E%3C%2Fsvg%3E')
    background-size (10/10)rem (14/10)rem
$icon-zamok
    image-zamok()
