{{#items}}
image-{{name}}()
    background-repeat no-repeat
    width ({{width}}/10)rem
    height ({{height}}/10)rem
    background-image '{{{data}}}'
    background-size ({{width}}/10)rem ({{height}}/10)rem
$icon-{{name}}
    image-{{name}}()
{{/items}}
