.counts
    //margin-top 1rem
    &__items
        @extend $row

    &__item
        position relative
        col('md', 4)
        display flex
        &:not(:last-child):before
            +mediamin('md')
                content ''
                position absolute
                top 2.2rem
                right -1.2rem
                icon 'star'
                width 2.2rem
                height 2.1rem
                background-size 2.2rem 2.1rem



    &__text
        margin 2rem 0 1rem 0
        text-align center
        font-size 1.6rem
        line-height 2.4rem
        font-weight 600
        span
            font-size 3rem

    &__wrap
        display flex
        width 100%
        max-width 40rem
        margin 0 auto
        flex-direction column
        justify-content space-between

    &__bar
        border-radius: 5px 5px 0 0;
