/* metadesign_ */
.metadesign
    width:auto;
    height:30px;
    position:relative;
    color:#fff;
    margin-top 10px
    opacity .3
    transition opacity .3s
    &:hover
        opacity 1



.metadesign__link
    display:inline-block;
    width:auto;
    position:relative;
    padding:0 0 0 23px;
    margin:0;
    text-decoration:none;
    transition:opacity .15s;
    border-bottom none!important








.metadesign__title
    display:block;
    line-height:26px;
    position:relative;
    overflow:hidden;
    text-indent:98px;
    @extend $icon-metadesign-text
    margin:0 0 4px 0;
    //opacity .3
    transition opacity .3s

    //width 0


.metadesign__link:before
    content:" ";
    display:block;
    position: absolute;
    overflow:visible;
    left:0;
    top:3px;
    font-size:0;
    line-height:16px;
    @extend $icon-metadesign-logo
    //opacity .3
    transition opacity .3s

.metadesign__link:hover:before
    @extend $icon-metadesign-logo-hover



.metadesign__link:hover
    &:before
        opacity 1

.metadesign__link:active
    &:before
        opacity .5

.metadesign__link:hover .metadesign__title
    opacity 1

.metadesign__link:active .metadesign__title
    opacity .5





.project-release-date
    display: inline-block;
    position: absolute;
    left: 22px;
    top: 16px;
    color: #7f7f7f;
    font-size: 11px;
    line-height: 16px
    white-space: nowrap;
    margin: 0 0 0 0;
    padding: 0;
    border-bottom: 1px solid rgba(255,255,255,.4);

/* _metadesign */
