.modalform
    position relative
    padding 5rem 8rem
    background #f7f7f7
    overflow hidden
    border-radius: 4px;
    transition opacity .2s
    &:before, &:after
        left 0
        content ''
        position absolute
        width 100%
        height 5px
        background linear-gradient(to right, #ca339a 0%, #ca339a 20%, #ee46a0 20%, #ee46a0  40%,#0491eb  40%, #0491eb  60%, #a8e24b 60%, #a8e24b 80%, #fbd537 80%, #fbd537 100%)

    &:before
        top 0

    &:after
        bottom 0
    +mediamax('xs')
        padding 3rem 3rem


    &__status-send
        max-height 2000px
        overflow hidden
        transition max-height .3s

    &__status-sended
        max-height 0
        overflow hidden
        transition max-height .3s

    &--sended &__status-sended
        max-height 500px

    &--sended &__status-send
        max-height 0

    &__header
        //




    &__title
        @extend .like-h2


    & label
        display none!important






    &__row
        @extend $row
        margin-top -3rem
        margin-bottom -3rem

    &__col, &__left, &__right
        margin 3rem 0



    &__col
        col('md',6)


    &__left
        col('md',7)
    &__right
        col('md',5)


    &__label
        color #b5b5b5
        font-size 1.4rem
        line-height 1.8rem


    &__note
        font-size 1.3rem
        line-height 1.8rem
        color rgba($color,.6)
        position relative
        margin-left 2rem
        &:before
            content ''
            position absolute
            top .2rem
            left -2rem
            icon 'zamok'
            opacity .6
        p
            margin-bottom 1rem

        a
            link()

    &__footer
        margin-top 2rem

    &__btn
        @extend .btn
        margin 1rem

    &__btn-close
        @extend .btn
        margin 1rem

    &__btn-ok
        @extend .btn
        margin 1rem

    &__btn-save
        @extend .btn
        margin 1rem


    &__btns
        display flex
        flex-wrap wrap
        justify-content space-between
        margin -1rem

    &--sending &__loader
        display block 

    &__loader
        display none
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        z-index 2

        &:before
            content ''
            position absolute
            top 0
            left 0
            width 100%
            height 100%
            background rgba(#000,.3)
        &:after
            content ''
            position absolute
            top 50%
            left 50%
            transform translate(-50%,-50%,0)
            width: 1em;
            height: 1em;
            border-radius: 50%;
            animation: loader 1.1s infinite ease;


    @keyframes loader
        0%,100%
            box-shadow: 0em -2.6em 0em 0em #ee46a0, 1.8em -1.8em 0 0em rgba(#ee46a0, 0.2), 2.5em 0em 0 0em rgba(#ee46a0, 0.2), 1.75em 1.75em 0 0em rgba(#ee46a0, 0.2), 0em 2.5em 0 0em rgba(#ee46a0, 0.2), -1.8em 1.8em 0 0em rgba(#ee46a0, 0.2), -2.6em 0em 0 0em rgba(#ee46a0, 0.5), -1.8em -1.8em 0 0em rgba(#ee46a0, 0.7);

        12.5%
            box-shadow: 0em -2.6em 0em 0em rgba(#ee46a0, 0.7), 1.8em -1.8em 0 0em #ee46a0, 2.5em 0em 0 0em rgba(#ee46a0, 0.2), 1.75em 1.75em 0 0em rgba(#ee46a0, 0.2), 0em 2.5em 0 0em rgba(#ee46a0, 0.2), -1.8em 1.8em 0 0em rgba(#ee46a0, 0.2), -2.6em 0em 0 0em rgba(#ee46a0, 0.2), -1.8em -1.8em 0 0em rgba(#ee46a0, 0.5);
        25%
            box-shadow: 0em -2.6em 0em 0em rgba(#ee46a0, 0.5), 1.8em -1.8em 0 0em rgba(#ee46a0, 0.7), 2.5em 0em 0 0em #ee46a0, 1.75em 1.75em 0 0em rgba(#ee46a0, 0.2), 0em 2.5em 0 0em rgba(#ee46a0, 0.2), -1.8em 1.8em 0 0em rgba(#ee46a0, 0.2), -2.6em 0em 0 0em rgba(#ee46a0, 0.2), -1.8em -1.8em 0 0em rgba(#ee46a0, 0.2);

        37.5%
            box-shadow: 0em -2.6em 0em 0em rgba(#ee46a0, 0.2), 1.8em -1.8em 0 0em rgba(#ee46a0, 0.5), 2.5em 0em 0 0em rgba(#ee46a0, 0.7), 1.75em 1.75em 0 0em #ee46a0, 0em 2.5em 0 0em rgba(#ee46a0, 0.2), -1.8em 1.8em 0 0em rgba(#ee46a0, 0.2), -2.6em 0em 0 0em rgba(#ee46a0, 0.2), -1.8em -1.8em 0 0em rgba(#ee46a0, 0.2);

        50%
            box-shadow: 0em -2.6em 0em 0em rgba(#ee46a0, 0.2), 1.8em -1.8em 0 0em rgba(#ee46a0, 0.2), 2.5em 0em 0 0em rgba(#ee46a0, 0.5), 1.75em 1.75em 0 0em rgba(#ee46a0, 0.7), 0em 2.5em 0 0em #ee46a0, -1.8em 1.8em 0 0em rgba(#ee46a0, 0.2), -2.6em 0em 0 0em rgba(#ee46a0, 0.2), -1.8em -1.8em 0 0em rgba(#ee46a0, 0.2);

        62.5%
            box-shadow: 0em -2.6em 0em 0em rgba(#ee46a0, 0.2), 1.8em -1.8em 0 0em rgba(#ee46a0, 0.2), 2.5em 0em 0 0em rgba(#ee46a0, 0.2), 1.75em 1.75em 0 0em rgba(#ee46a0, 0.5), 0em 2.5em 0 0em rgba(#ee46a0, 0.7), -1.8em 1.8em 0 0em #ee46a0, -2.6em 0em 0 0em rgba(#ee46a0, 0.2), -1.8em -1.8em 0 0em rgba(#ee46a0, 0.2);

        75%
            box-shadow: 0em -2.6em 0em 0em rgba(#ee46a0, 0.2), 1.8em -1.8em 0 0em rgba(#ee46a0, 0.2), 2.5em 0em 0 0em rgba(#ee46a0, 0.2), 1.75em 1.75em 0 0em rgba(#ee46a0, 0.2), 0em 2.5em 0 0em rgba(#ee46a0, 0.5), -1.8em 1.8em 0 0em rgba(#ee46a0, 0.7), -2.6em 0em 0 0em #ee46a0, -1.8em -1.8em 0 0em rgba(#ee46a0, 0.2);

        87.5%
            box-shadow: 0em -2.6em 0em 0em rgba(#ee46a0, 0.2), 1.8em -1.8em 0 0em rgba(#ee46a0, 0.2), 2.5em 0em 0 0em rgba(#ee46a0, 0.2), 1.75em 1.75em 0 0em rgba(#ee46a0, 0.2), 0em 2.5em 0 0em rgba(#ee46a0, 0.2), -1.8em 1.8em 0 0em rgba(#ee46a0, 0.5), -2.6em 0em 0 0em rgba(#ee46a0, 0.7), -1.8em -1.8em 0 0em #ee46a0;
