.modal
    position: fixed;
    top 0
    left 0
    width 100%
    height 100%
    max-width 100%
    overflow-y: auto;
    //padding 100px 10px
    z-index: $z-index.modal
    //display none
    overflow hidden
    max-height 0
    transition max-height 0s .6s


    &--open
        display block
        overflow:auto;
        max-height 2000px

        transition max-height 0s


    &__content
        position absolute
        top: 50%;
        left: 50%;
        transform translateZ(0)
        transform: translate(-50%, -250%);
        width 61rem
        max-width 90%
        max-height 90%
        //will-change: opacity, transform
        opacity 0

        transition opacity .3s, transform .3s ease-in-out
        +mediamax('xs')
            max-width 100%
            max-height 100%



    &--open  &__content
        opacity 1
        transform translate(-50%, -50%)


    &__close
        display none
        cursor pointer
        position absolute
        icon 'modal-close'
        right -3rem
        top -3rem
        transition: transform .3s
        opacity: .2
        transition: opacity .3s
        z-index 1
        &:hover
            opacity: 1
        +mediamax('xs')
            svg 'modal-close-black'
            right 1rem
            top 1rem

    &--open &__close
        display block


    &__overlay
        position fixed
        width 100%
        height 100%
        left 0
        top 095
        background: rgba(#16194b,.8)
        opacity 0
        max-height 0
        transition opacity .4s, max-height 0s .3s
    &--open &__overlay
        opacity 1
        max-height 2000px
        transition opacity .4s












.modal-lock.mobile
    overflow hidden
    body
        overflow hidden !important
