.objects-list
    position fixed
    top 8rem
    overflow-y auto
    overflow-x hidden
    left -5000px
    transform translate(-50%, 0)
    bottom 1rem
    width 100%
    max-width 141rem
    background #ffffff
    box-shadow 0 3px 17px rgba(0,0,0,.15)
    opacity 0
    transition opacity .3s, left  0s .3s
    &--show
        opacity 1
        left 50%
        transition opacity .3s, left  0s


    &__wrap
        padding 5rem 3rem
        +mediamax('xs')
            padding 5rem 0

    &__close
        position absolute
        top 2rem
        right 2rem
        icon 'close-blue'
        opacity .2
        transition opacity .2s
        z-index 1
        &:hover
            opacity 1

    &__row
        //@extend

    &__item
        display block
        position relative
        background-color #fff
        border-radius 3px
        padding 1rem 5.5rem 1rem 2rem
        color $color
        transition color .15s, background .15s
        &:before
            content ''
            position absolute
            top 50%
            right 1rem
            transform translate(0,-50%)
            icon 'arrow-right-white'
            width 4.2rem
            height 4.2rem
            border-radius 4.2rem
            background-color #e04196
            background-position center center
            opacity 0
            transition opacity .15s
        &:hover
            background #ee46a0
            color #fff
            &:before
                opacity 1



    &__item-adress
        font-weight bold


    &__item-name
        //

    &__district
        width 100%
        margin-bottom 3rem

    &__district-title
        font-size 2.6rem
        position relative
        margin-bottom 1rem
        opacity .5
        &:before
            content ''
            display inline-block
            margin-right 1rem
            icon 'marker'

    &__container
        padding 0 ($gutter / 2)
        max-width 120rem
        margin 0 auto

    &__row
        @extend $row


    &__col
        col('md',4)
        col('sm',6)
        width 100%
