.objects-form
    margin 3rem 0

    &__item
        position relative
        background-color #fff
        box-shadow 0 1px rgba(0,0,0,.1)
        padding 2rem 3.5rem

    &__title
        @extend .like-h2
        display inline-block
        position relative

        span
            position absolute
            top 0
            right -3rem
            font-size 1.3rem
            font-weight normal
            line-height 2.4rem
            width 2.4rem
            height 2.4rem
            text-align center
            border-radius 12px
            background-color #eaeaea

    &__adress
        font-weight bold

    &__remove
        position absolute
        top 1rem
        right 1rem
        icon 'remove'
