.object
    position fixed
    top 3rem
    overflow-y auto
    overflow-x hidden
    +mediamax('md')
        top 10rem
    bottom 1rem
    width 41rem
    background #ffffff
    box-shadow 0 3px 17px rgba(0,0,0,.15)
    +mediamax('xs')
        top 8rem
        bottom 0
        width 100%

    transform translate(-10%,-10%)
    left -5000px
    opacity 0
    transition opacity .3s, transform .3s, left  0s .3s
    &:before
        content ''
        position absolute
        top 0
        left 0
        width 100%
        height 5px
        background linear-gradient(to right, #ca339a 0%, #ca339a 20%, #ee46a0 20%, #ee46a0  40%,#0491eb  40%, #0491eb  60%, #a8e24b 60%, #a8e24b 80%, #fbd537 80%, #fbd537 100%)
        z-index 1
    &--show
        left 3rem
        opacity 1
        transform translate(0,0)
        transition opacity .3s, transform .3s, left  0s
        +mediamax('xs')
            left 0


    &__wrap
        padding 3rem


    &__close
        position absolute
        top 2rem
        right 2rem
        icon 'close-blue'
        opacity .2
        transition opacity .2s
        z-index 2
        &:hover
            opacity 1

    &__title
        font-size 2.2rem
        opacity .8
        margin-bottom 1rem

    &__type-title
        font-size 1.7rem
        font-weight 600
        margin-bottom 1rem

    &__pictures
        position relative

    &__pictures-items
        @extend $row
        margin -.3rem

    &__pictures-item
        width 50%
        padding  .3rem

    &__picture-img
        max-width 100%

    &__picture
        display block
        position relative
        &:after, &:before
            content ''
            position absolute
            overflow hidden

        &:before
            left 0
            top 0
            width 100%
            height 100%
            background rgba($blue, .5)
            opacity 0
            transition opacity .2s

        &:after
            left 50%
            top 50%
            transform translate(0%,0%)
            opacity 0
            png 'lupa',true
            transition opacity .2s, transform .2s

        &:hover:before
            opacity 1

        &:hover:after
            opacity 1
            transform translate(-50%,-50%)

    &__pictures-count
        position absolute
        min-width 2.2rem
        height 2.2rem
        border-radius 2.2rem
        color #fff
        font-size 1.1rem
        text-align center
        line-height 2.2rem
        right -.5rem
        bottom -.5rem
        background $pink
        z-index 1

    &__type-chose
        @extend .btn-pink
        margin 3rem 0
