.objects-count
    position relative
    &__link
        font-size 1.5rem
        +mediamax('xs')
            font-size 1.3rem
        color #fff
        border-bottom 1px dotted rgba(#fff,.3)
        &:hover
            color #fff
            border-bottom 1px solid rgba(#fff,.3)

        span
            color $pink
            margin-left .6em

    &__tooltip
        position absolute
        top 100%
        margin-top 4rem
        +mediamax('xs')
            margin-top 3rem
        width 22rem
        padding 1.5rem 2rem
        border-radius 4px
        background-color $pink
        color #fff
        font-size 1.4rem
        left -50000px
        opacity 0
        transform translate(0,10%)
        transition transform .2s, opacity .2s, left 0s .2s
        z-index 1
        &--show
            left 50%
            opacity 1
            transform translate(-50%,0)
            transition transform .2s, opacity .2s, left 0s
            +mediamax('xs')
                left 0
                transform translate(0,0)

        &:before
            content ''
            position absolute
            top -.5rem
            left 50%
            transform translate(-50%, 0) rotate(45deg)
            width 1.5rem
            height 1.5rem
            background-color $pink
            +mediamax('xs')
                left 0
                transform translate(100%, 0) rotate(45deg)

    &__message
        opacity .5
