.ontop
    position fixed
    bottom 9rem
    right 3rem
    width 5rem
    height 5rem
    border 2px solid $blue
    border-radius .5rem
    transform translate(0, 20rem)
    transition transform .4s
    &--show
        transform translate(0, 0)
    +mediamin('lg')
        bottom 12rem
        right 12rem
    &:before
        content ''
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%) rotate(-90deg)
        icon 'arrow-right-blue'
    &:hover
        background $blue
        &:before
            icon 'arrow-right-white'
