.paginator
    font-size 0px
    display inline-block
    padding 0
    width 100%
    position: relative;


    &__prev, &__page, &__dots,&__next
        display inline-block
        vertical-align middle
        margin 0 .5rem

        &:hover
            color inherit

        span
            display inline-block
            font-size 1.6rem
            line-height 4.6rem
            text-decoration none
            position relative


    &__page
        min-width 5rem
        padding 0
        text-align center
        border 2px solid rgba(#000,.2)
        color #252525

        &:active
            opacity .5
        &:hover
            color $colorLinkHover
            border 2px solid $colorLinkHover


    &__page&__page--current
        color $colorLinkHover
        border 2px solid $colorLinkHover
        cursor default

    &__dots
        min-width 5rem
        text-align center


    &__arrows
        font-size 0
        margin-bottom 4rem

    &__prev, &__next
        display inline-block
        icon 'paginator-arrow'
        opacity .1
        transition  opacity .2s

        &:hover
            opacity 1

        &--active
            opacity 1

    &__next
        transform rotate(-180deg)
        margin-left 1rem
