.popup
    position fixed
    top 3rem
    overflow-y auto
    overflow-x hidden
    +mediamax('md')
        top 10rem
    bottom 1rem
    width 41rem
    background #ffffff
    box-shadow 0 3px 17px rgba(0,0,0,.15)
    +mediamax('xs')
        top 8rem
        bottom 0
        width 100%

    transform translate(-10%,-10%)
    left -5000px
    opacity 0
    transition opacity .3s, transform .3s, left  0s .3s
    &:before
        content ''
        position absolute
        top 0
        left 0
        width 100%
        height 5px
        background linear-gradient(to right, #ca339a 0%, #ca339a 20%, #ee46a0 20%, #ee46a0  40%,#0491eb  40%, #0491eb  60%, #a8e24b 60%, #a8e24b 80%, #fbd537 80%, #fbd537 100%)
        z-index 1
    &--open
        right 3rem
        opacity 1
        transform translate(0,0)
        transition opacity .3s, transform .3s, left  0s
        +mediamax('xs')
            left 0


    &__wrap
        padding 3rem


    &__close
        position absolute
        top 2rem
        right 2rem
        icon 'close-blue'
        opacity .2
        transition opacity .2s
        z-index 2
        &:hover
            opacity 1
