.popupvideo
    display none
    z-index 100

    &--show
        display block

    &__wrap
        max-width 1000px
        width 100%
        position fixed
        top 50%
        left 50%
        transform translate(-50%,-50%)
        z-index 102

    &__video
        padding-bottom 56.25%



    &__overlay
        width 100%
        display none
        position: fixed
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        background rgba(#000,.5)
        z-index 101

    &--show &__overlay
        display block

    &__close
        cursor pointer
        position absolute
        @extend $icon-modal-close
        right: 30px;
        top: -30px;
        transition: transform .3s
        opacity: .7
        transition: opacity .3s
        +mediamin('sm')
            right: -30px;
            top: -30px;
        &:hover
            opacity: 1


    iframe
        width 100%
        display block
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        border: 0;
