.portfolio-item
    position relative
    border-radius 5px
    background-color #fff
    box-shadow 0 1px 4px rgba(0,0,0,.14)
    padding 1.5rem 1.5rem  .5rem  1.5rem
    transition box-shadow .2s
    max-width 29rem
    width 100%
    margin 0 auto
    &:hover
        box-shadow 0 7px 11px rgba(0,0,0,.1)

    &__link
        position absolute
        top 0
        left 0
        width 100%
        height 100%


    &__row
        margin 2px -2px
        display flex

    &__col
        padding 2px
        width 50%
        flex 0 0 50%

    &__img
        max-width 100%

    &__bottom
        text-align center
        padding 3rem 2rem
        margin auto 0

    &__title
        display inline
        font-size 1.8rem
        line-height 2.2rem
        border-bottom 1px solid rgba($blue, .5)

    &:hover &__title
        border-bottom 1px solid rgba($blue, 0)    

    &__wrap
        display flex
        flex-direction column
        height 100%
        justify-content space-between
