.review

    &__row
        +mediamin('sm')
            display flex
            align-items center

    &__left
        margin 1rem 0
        text-align center
        +mediamin('sm')
            width 17rem
            flex 0 0 17rem

    &__right
        +mediamin('sm')
            padding-left 3.5rem

    &__img
        border-radius 100%

    &__date
        color rgba($color,.5)
        font-size 1.4rem
        display block
        margin-bottom 2rem

    &__name
        @extend .like-h4
        margin-bottom 0

    &__post
        color rgba($color,.5)
        font-size 1.5rem

    &__desc
        margin-top 2rem
