.search
    position fixed
    top 1rem
    +mediamax('md')
        top 7rem
    left 1rem
    bottom 1rem
    width 41rem
    +mediamax('xs')
        top 8rem
        left 0
        bottom 0
        width 100%
    background #f2f5f7
    box-shadow 0 3px 17px rgba(0,0,0,.15)
    overflow-y auto
    overflow-x hidden
    &:before
        content ''
        position absolute
        top 0
        left 0
        width 100%
        height 5px
        background linear-gradient(to right, #ca339a 0%, #ca339a 20%, #ee46a0 20%, #ee46a0  40%,#0491eb  40%, #0491eb  60%, #a8e24b 60%, #a8e24b 80%, #fbd537 80%, #fbd537 100%)
        z-index 1


    &__wrap
        padding 3rem

    &__header
        margin -3rem -3rem 1rem -3rem
        padding 3rem
        background #fff


    &__logo
        @extend .logo

        margin 0 auto 2rem auto

    &__title
        font-size 1.7rem
        text-align center

    &__items
        margin 3rem -3rem 0 -3rem

    &__item
        display block
        position relative
        background-color #fff
        border-bottom 1px solid  rgba(0,0,0,.1)
        padding 2rem 5.5rem 2rem 3.5rem
        color $color
        transition color .15s, background .15s
        &:before
            content ''
            position absolute
            top 50%
            right 1rem
            transform translate(0,-50%)
            icon 'arrow-right-white'
            width 4.2rem
            height 4.2rem
            border-radius 4.2rem
            background-color #e04196
            background-position center center
            opacity 0
            transition opacity .15s
        &:hover
            background #ee46a0
            color #fff
            &:before
                opacity 1



    &__item-adress
        font-weight bold


    &__item-name
        //
