.service
    position relative
    border-radius 5px
    background-color #fff
    box-shadow 0 1px 4px rgba(0,0,0,.14)
    padding 1.5rem 1.5rem  .5rem  1.5rem
    transition box-shadow .2s
    max-width 29rem
    width 100%
    margin 0 auto
    &:hover
        box-shadow 0 7px 11px rgba(0,0,0,.1)

    &__link
        position absolute
        top 0
        left 0
        width 100%
        height 100%


    &__icon
        display block
        margin 0 auto
        width 100%
        max-width 100%
        height 0
        padding-bottom 100%
        background-size 100% 100%
        &--1
            icon 'service-1'
        &--2
            icon 'service-2'
        &--3
            icon 'service-3'
        &--4
            icon 'service-4'
        &--5
            icon 'service-5'
        &--6
            icon 'service-6'
        &--7
            icon 'service-7'
        &--8
            icon 'service-8'
        &--9
            icon 'service-9'
        &--10
            png 'service-10'
        &--11
            icon 'service-11'
        &--12
            icon 'service-12'
    &:hover &__icon
        width 100%
        max-width 100%
        height 0
        padding-bottom 100%
        background-size 100% 100%
        &--1
            icon 'service-1-pink'
        &--2
            icon 'service-2-pink'
        &--3
            icon 'service-3-pink'
        &--4
            icon 'service-4-pink'
        &--5
            icon 'service-5-pink'
        &--6
            icon 'service-6-pink'
        &--7
            icon 'service-7-pink'
        &--8
            icon 'service-8-pink'
        &--9
            icon 'service-9-pink'
        &--10
            png 'service-10-pink'
        &--11
            icon 'service-11-pink'
        &--12
            icon 'service-12-pink'

    &__bottom
        text-align center
        padding 1rem 2rem 3rem 2rem
        margin auto 0

    &__title
        display inline
        font-size 1.8rem
        line-height 2.2rem
        border-bottom 1px solid rgba($blue, .5)

    &:hover &__title
        border-bottom 1px solid rgba($blue, 0)

    &__wrap
        display flex
        flex-direction column
        height 100%
        justify-content space-between
