.slider-main

    position relative
    width 100%
    overflow hidden
    user-select: none;
    &:before
        left 0
        bottom 0
        content ''
        position absolute
        width 100%
        height 5px
        background linear-gradient(to right, #ca339a 0%, #ca339a 20%, #ee46a0 20%, #ee46a0  40%,#0491eb  40%, #0491eb  60%, #a8e24b 60%, #a8e24b 80%, #fbd537 80%, #fbd537 100%)
        z-index 1

    //margin -30px auto 40px auto
    //max-height 2000px
    //transition max-height .9s ease-in

    &--loading
        //max-height 800px


    &__content
        left 0
        top 0
        width 100%
        height: 100%
        opacity 0
        transition opacity .3s
        padding 2rem 0
        +mediamin('sm')
            padding 0px 8rem
            position absolute
            display: flex;
            align-items center

    &__item--active &__content
        opacity 1

    &__wrap
        @extend $container
        width 100%


    &__row
        @extend $row

    &__col
        col('lg', 5)
        col('md', 8)





    &__items
        overflow hidden
        position relative
        //width 100%

    &__item
        float left
        position relative
        width 100%








    &__image
        width 100%
        position relative
        &:after
            //content ''
            position absolute
            top 0
            left 0
            width: 100%
            height: 100%
            background: rgba(#000,.3)

    &--loading  &__item &__image
        display none

    &--loading  &__item:first-child &__image
        display block





    &__title

        position relative
        z-index 1
        overflow hidden
        //font-family: $fontFamilyPTSerif
        font-size 6rem
        line-height: 1.25em
        font-weight: bold
        +mediamax('md')
            font-size 4rem
        +mediamax('sm')
            font-size 3rem

        +mediamin('md')
            transform: translate(-100%,0);
            opacity 0
            transition transform .3s, opacity .3s
        +mediamin('sm')
            max-height 3.75em

    &__item--active &__title
        transform: translate(0,0);
        opacity 1



    &__desc
        font-size 1.5rem
        line-height 2.5rem
        overflow hidden
        +mediamin('sm')
            max-height 10rem
        margin 1rem 0
        +mediamin('lg')
            font-size 1.9rem
            margin 3rem 0
        +mediamin('md')
            font-size 1.7rem
            transform translate(-100%,0)
            opacity 0
            transition transform .3s .2s, opacity .3s .2s

    &__item--active &__desc
        +mediamin('md')
            transform translate(0,0)
            opacity 1

    &__btn
        position: relative;
        z-index: 1
        @extend .btn-next
        //margin 2rem 0
        +mediamin('md')
            transform translate(-100%,0)
            opacity 0
            transition transform .3s .4s, opacity .3s .4s , color .2s, background .2s!important



    &__item--active &__btn
        +mediamin('md')
            transform translate(0,0)
            opacity 1

    &__img
        //@extend $img
        max-width 100%



    &__controls
        position absolute
        width 100%
        +mediamin('md')
            bottom 6rem
        left 0
        z-index 1
        +mediamax('sm')
            height: 100%
        +mediamax('xs')
            height: 0
            padding-bottom: 35.4%


    &__controls-wrap
        @extend $container
        text-align right
        white-space nowrap



    &__next, &__prev
        display inline-block!important
        position relative
        +mediamax('sm')
            position absolute
            display block
            top 50%
            margin-top -2.5rem
        cursor pointer
        width 6rem
        height 5rem
        border-radius 5px
        border solid 2px $blue
        transition background .2s
        &:hover
            background $blue
        &:after
            content ''
            position absolute;
            icon 'arrow-right-blue'
            top 50%
            left 50%
            transform translate(-50%, -50%)
        &:hover:after
            icon 'arrow-right-white'

    &__next
        margin-left 1rem
        +mediamax('sm')
            right 2rem

    &__prev
        transform: rotate(180deg);
        +mediamax('sm')
            left 2rem


    &__dots
        display none
        position absolute
        bottom 30px
        width 100%
        font-size 0
        text-align center

    &__dot
        display inline-block
        cursor pointer
        background #fff
        width 7px
        height 7px
        margin 0 6px
        border-radius 7px
        opacity .5
        &.selected
            opacity 1
