.subnav
    //padding 0 7rem
    &__wrap
        @extend $container-fluid
        border-top 1px solid #d7d7d7
        border-left 1px solid #d7d7d7
        border-right 1px solid #d7d7d7
        //border-bottom 1px solid #d7d7d7
        background #fff

    &__row
        @extend $row


    &__col
        col('xl',8)
        col('lg', 10)
        col('md', 10)
        col-push('xl', 2)
        col-push('lg', 1)
        col-push('md', 1)
