.map
    position relative
    width 100%
    height 100%

    &__map
        position relative
        width 100%
        height 100%
        +mediamax('xs')
            display none


    &__header
        position fixed
        top 0
        left 0
        //height 7rem
        width 100%
        background #373b6b
        +mediamin('lg')
            padding-left 42.5rem
        +mediamax('md')
            z-index 1

    &__wrap
        height 100%
        padding 0 2rem
        +mediamax('sm')
            padding 0 1rem

    &__row
        @extend $row
        margin 0 -2rem
        justify-content space-between
        align-items center
        +mediamax('sm')
            margin 0 -1rem

        &--order
            justify-content space-between



    &__col
        //height 100%
        padding 0 2rem
        height 7rem
        +mediamax('md')
            height 6rem
        +mediamax('xs')
            height 4rem
        display flex
        align-items center
        +mediamax('sm')
            padding 0 1rem


        &--btn
            //padding-right 4rem

        &--order
            background #24285d
            height 100%
            +mediamax('xs')
                width 100%
                & > .map__wrap-col
                    width 100%

    &__btn
        @extend .btn-pink
        color #fff!important
        &:hover[disabled]
            color #fff!important
        +mediamax('xs')
            font-size 1.1rem
            padding .5rem 1.2rem .3rem


    &__back
        font-size 1.5rem
        +mediamax('xs')
            font-size 1.3rem
        color #fff
        border-bottom 1px solid rgba(#fff,.3)
        position relative
        margin-left 1.2em
        &:hover
            color #fff
            border-bottom 1px solid #fff
        &:before
            content ''
            position absolute
            icon 'arrow-right-white'
            top 50%
            left -1.2em
            transform translate(0,-50%) rotate(180deg)

    &__objects
        font-size 1.5rem
        +mediamax('xs')
            font-size 1.3rem
        color #fff
        position relative
        margin-left 2.133333333333333em
        &:hover
            color #fff

        &:before
            content ''
            opacity .3
            position absolute
            icon 'list'
            top 50%
            left -2.133333333333333em
            transform translate(0,-50%)
            width 1.6em
            height 1.6em
            background-size 1.6em 1.6em

        &:hover:before
            opacity 1

        &--show
            &:before
                opacity 1
                svg 'list-pink'



.cluster-count
    color #fff
    font-weight bold
